.flows.json.backup
[{"id":"4f38fbf2cf802929","type":"tab","label":"Sala","disabled":false,"info":"","env":[]},{"id":"c708c2125406a780","type":"tab","label":"Bedroom","disabled":false,"info":"","env":[]},{"id":"11d2320978cf1f7f","type":"tab","label":"TV Flow","disabled":false,"info":"","env":[]},{"id":"f8d8ebf62a7b427b","type":"tab","label":"Lock","disabled":false,"info":"","env":[]},{"id":"8140a76a50b7c6cf","type":"tab","label":"Pantry","disabled":false,"info":"","env":[]},{"id":"f173a16dfdf0dd22","type":"tab","label":"Bathroom","disabled":false,"info":"","env":[]},{"id":"6cad9bd86f080d35","type":"tab","label":"Remote","disabled":true,"info":"","env":[]},{"id":"cbfcd9424a1ed08d","type":"subflow","name":"Pantry Lights on","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"61f7c1d481b0c5b4"},{"id":"46cfa648fd8d6c76"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"3a687d9bc820e4b7","type":"subflow","name":"Increment Pantry Light Counter","info":"","category":"","in":[{"x":60,"y":100,"wires":[{"id":"a20a3bfc06bed4c4"}]}],"out":[{"x":580,"y":100,"wires":[{"id":"c3df938d905d8fa4","port":0},{"id":"1afa08f59dac6361","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"2053e7b6258787f3","type":"subflow","name":"Is False Positive","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"3b8ad6dd3b03b48f"}]}],"out":[{"x":600,"y":60,"wires":[{"id":"a76b8ff26fa4c772","port":0}]},{"x":600,"y":120,"wires":[{"id":"a76b8ff26fa4c772","port":1}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"72d9f44b25615f34","type":"subflow","name":"Turn on Sala Lights","info":"","category":"","in":[{"x":60,"y":120,"wires":[{"id":"504c50ddd8e9018f"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"34febce23a13a380","type":"subflow","name":"Dim Sala Lights","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"5f490eb298c1cfa6"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"a0dd34e402ff40a1","type":"subflow","name":"Turn Off motion on Light Flicker","info":"","category":"","in":[{"x":60,"y":140,"wires":[{"id":"9f5d201d9a8a45cc"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"bc7a1b44.b9c7b8","type":"server","name":"Home Assistant","addon":false,"rejectUnauthorizedCerts":false,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false},{"id":"143ffa941006631c","type":"ha-entity-config","server":"bc7a1b44.b9c7b8","deviceConfig":"","name":"Bathroom Motion Sensor","version":"6","entityType":"switch","haConfig":[{"property":"name","value":""},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"2adbd26ae2d8958c","type":"ha-entity-config","server":"bc7a1b44.b9c7b8","deviceConfig":"","name":"Sala Motion Sensor","version":"6","entityType":"switch","haConfig":[{"property":"name","value":""},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"7d1b946bea64161b","type":"ha-entity-config","server":"bc7a1b44.b9c7b8","deviceConfig":"","name":"Pantry Motion Sensor","version":"6","entityType":"switch","haConfig":[{"property":"name","value":""},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"873f2918db605440","type":"ha-entity-config","server":"bc7a1b44.b9c7b8","deviceConfig":"","name":"Bedroom Motion Sensor","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Bedroom Motion Sensor"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"switch"}],"resend":false,"debugEnabled":false},{"id":"ba1d12f92368d5fb","type":"ha-device-config","name":"tv-automation","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"90e90b1bf1d27e84","type":"ha-entity-config","server":"bc7a1b44.b9c7b8","deviceConfig":"ba1d12f92368d5fb","name":"tv-automation","version":"6","entityType":"switch","haConfig":[{"property":"name","value":""},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"e44494a60e30483b","type":"ha-entity-config","server":"bc7a1b44.b9c7b8","deviceConfig":"","name":"Lock Toggle","version":"6","entityType":"button","haConfig":[{"property":"name","value":""},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"673b81f277420ce8","type":"ha-entity-config","server":"bc7a1b44.b9c7b8","deviceConfig":"","name":"Kitchen Motion Sensor","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Kitchen Motion Sensor"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"f43ae479fc54977c","type":"ha-entity-config","server":"bc7a1b44.b9c7b8","deviceConfig":"","name":"Motion Sensor Auto Reactivate","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Motion Sensor Auto Reactivate"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"1057dfb053243f6a","type":"switch","z":"cbfcd9424a1ed08d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":430,"y":80,"wires":[["ef2ce83ca2c790d2","21ecc0f497162732"],["6e672be8e5a5c84a","11324fb8603ecd07"],["2b8b4134196e0601"]]},{"id":"ef2ce83ca2c790d2","type":"api-call-service","z":"cbfcd9424a1ed08d","name":"Pantry Mirror Lights","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":["7d43bab9d6a5a735b410270639a82b7f"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":630,"y":40,"wires":[[]]},{"id":"6e672be8e5a5c84a","type":"api-call-service","z":"cbfcd9424a1ed08d","name":"Pantry Lights on","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":["44bfdcf6fb5dd6cae2a42f041bd738f1"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":100,"wires":[[]]},{"id":"61f7c1d481b0c5b4","type":"api-call-service","z":"cbfcd9424a1ed08d","name":"ESP Turn On","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.ld2410_esp32_4_blue_status_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":230,"y":40,"wires":[[]]},{"id":"2b8b4134196e0601","type":"api-call-service","z":"cbfcd9424a1ed08d","name":"Both Lights on","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":["7d43bab9d6a5a735b410270639a82b7f","44bfdcf6fb5dd6cae2a42f041bd738f1"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":160,"wires":[[]]},{"id":"46cfa648fd8d6c76","type":"api-current-state","z":"cbfcd9424a1ed08d","name":"Counter State","server":"bc7a1b44.b9c7b8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"counter.pantry_current_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":240,"y":80,"wires":[["1057dfb053243f6a"]]},{"id":"21ecc0f497162732","type":"api-call-service","z":"cbfcd9424a1ed08d","name":"Pantry Light off","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":["44bfdcf6fb5dd6cae2a42f041bd738f1"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":40,"wires":[[]]},{"id":"11324fb8603ecd07","type":"api-call-service","z":"cbfcd9424a1ed08d","name":"Mirror Light off","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":["7d43bab9d6a5a735b410270639a82b7f"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":100,"wires":[[]]},{"id":"c3df938d905d8fa4","type":"api-call-service","z":"3a687d9bc820e4b7","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"counter","service":"increment","areaId":[],"deviceId":[],"entityId":["counter.pantry_current_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":410,"y":80,"wires":[[]]},{"id":"a20a3bfc06bed4c4","type":"api-current-state","z":"3a687d9bc820e4b7","name":"Counter <= 1","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"1","halt_if_type":"num","halt_if_compare":"lte","entity_id":"counter.pantry_current_lights","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":210,"y":100,"wires":[["c3df938d905d8fa4"],["1afa08f59dac6361"]]},{"id":"1afa08f59dac6361","type":"api-call-service","z":"3a687d9bc820e4b7","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"counter","service":"reset","areaId":[],"deviceId":[],"entityId":["counter.pantry_current_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":390,"y":120,"wires":[[]]},{"id":"3b8ad6dd3b03b48f","type":"function","z":"2053e7b6258787f3","name":"GetLastStateDuration","func":"// Get the \"last_updated\" strings from old and new states\nconst oldStateLastUpdated = msg.data.old_state.last_updated;\nconst newStateLastUpdated = msg.data.new_state.last_updated;\n\n// Parse the ISO 8601 timestamps into Date objects\nconst oldDate = new Date(oldStateLastUpdated);\nconst newDate = new Date(newStateLastUpdated);\n\n// Calculate the time difference in milliseconds\nconst timeDiffMs = newDate.getTime() - oldDate.getTime();\n\n// Convert milliseconds to seconds\nconst timeDiffSeconds = timeDiffMs / 1000;\n\n// Optionally, add the result to the message for further processing\nmsg.payload = timeDiffSeconds;\nmsg.timeSinceChangedMs = msg.data.new_state.timeSinceChangedMs;\n\nnode.debug(\"Old State Last Updated: \" + oldStateLastUpdated);\nnode.debug(\"New State Last Updated: \" + newStateLastUpdated);\nnode.debug(\"Time Difference (seconds): \" + timeDiffSeconds);\nreturn msg; \n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":80,"wires":[["a76b8ff26fa4c772"]]},{"id":"a76b8ff26fa4c772","type":"switch","z":"2053e7b6258787f3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"limit","vt":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":80,"wires":[[],[]]},{"id":"698c29669088ea13","type":"api-call-service","z":"72d9f44b25615f34","name":"Lights On","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.sala_lights_group"],"data":"{\"brightness_pct\":\"100\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":420,"y":160,"wires":[[]]},{"id":"504c50ddd8e9018f","type":"api-current-state","z":"72d9f44b25615f34","name":"use Kitchen Lights?","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.use_kitchen_lights","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":230,"y":120,"wires":[["c82c95beca7a1696"],["698c29669088ea13"]]},{"id":"c82c95beca7a1696","type":"api-call-service","z":"72d9f44b25615f34","name":"RGB Max","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.rgb_light_strip"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":420,"y":80,"wires":[[]]},{"id":"053c4231030e8ca4","type":"api-call-service","z":"34febce23a13a380","name":"Dim Lights","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.sala_lights_group"],"data":"{\"brightness_pct\":\"35\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":470,"y":120,"wires":[[]]},{"id":"5f490eb298c1cfa6","type":"api-current-state","z":"34febce23a13a380","name":"use Kitchen Lights?","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.use_kitchen_lights","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":230,"y":80,"wires":[["3b6d236bbccaf56f"],["053c4231030e8ca4"]]},{"id":"3b6d236bbccaf56f","type":"api-call-service","z":"34febce23a13a380","name":"Dim Lights","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.rgb_light_strip"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":470,"y":60,"wires":[[]]},{"id":"cd8db916e3b325e8","type":"function","z":"a0dd34e402ff40a1","name":"Counter++","func":"let counter = flow.get(\"lightsOnCounter\") || 0;  // Initialize if not found\ncounter++;\nflow.set(\"lightsOnCounter\", counter);\nmsg.entity_id = msg.sensor; \nmsg.counter = counter;\nreturn msg; \n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":140,"wires":[["938c211c890904ec","44ee349d5175af0c"]]},{"id":"938c211c890904ec","type":"delay","z":"a0dd34e402ff40a1","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":660,"y":200,"wires":[["45f558d197c0fb52"]]},{"id":"44ee349d5175af0c","type":"switch","z":"a0dd34e402ff40a1","name":"","property":"lightsOnCounter","propertyType":"flow","rules":[{"t":"gt","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":80,"wires":[["435541cd9704268a"]]},{"id":"435541cd9704268a","type":"api-call-service","z":"a0dd34e402ff40a1","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["{{entity_id}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":880,"y":80,"wires":[[]]},{"id":"9f5d201d9a8a45cc","type":"switch","z":"a0dd34e402ff40a1","name":"Is Automated?","property":"data.new_state.context.user_id","propertyType":"msg","rules":[{"t":"eq","v":"880cfaa866264c9aaa59fa1f0f0949b9","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":220,"y":140,"wires":[["cd8db916e3b325e8"]]},{"id":"45f558d197c0fb52","type":"change","z":"a0dd34e402ff40a1","name":"","rules":[{"t":"set","p":"lightsOnCounter","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":200,"wires":[[]]},{"id":"b44778aa17fc4b5f","type":"server-state-changed","z":"4f38fbf2cf802929","name":"Sala Sensors 1+3 Clear","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"2adbd26ae2d8958c","entityId":"binary_sensor.living_room_presence_sensors","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"1","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":80,"wires":[["dc7ad3f015ac641a"],[]]},{"id":"ebb923773dbee72f","type":"api-call-service","z":"4f38fbf2cf802929","name":"Turn off lights","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.rgb_light_strip","light.sala_lights_group"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":880,"y":100,"wires":[[]]},{"id":"7fdb09e6327d1a41","type":"server-state-changed","z":"4f38fbf2cf802929","name":"Sala Sensors 1+3 Occupied 5sec","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"2adbd26ae2d8958c","entityId":"binary_sensor.living_room_presence_sensors","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":false,"for":"5","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":1130,"y":40,"wires":[["2e5cf3b6ecf22e8d"],[]]},{"id":"51c19cefe80915a0","type":"server-state-changed","z":"4f38fbf2cf802929","name":"Sala Sensors 1+3 Occupied","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"2adbd26ae2d8958c","entityId":"binary_sensor.living_room_presence_sensors","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":false,"for":"0","forType":"num","forUnits":"milliseconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":220,"wires":[["46c0305fe349eebb","bb60ed50e73ffed0"],[]]},{"id":"4cda9d25e69a2cca","type":"server-state-changed","z":"4f38fbf2cf802929","name":"Sala Motion Sensors Button Enabled","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"switch.sala_motion_sensor","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":320,"wires":[["8db8f261878de01c"],[]]},{"id":"8db8f261878de01c","type":"api-current-state","z":"4f38fbf2cf802929","name":"Is Occupied","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.living_room_presence_sensors","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"seconds","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":430,"y":280,"wires":[["2e5cf3b6ecf22e8d","bb60ed50e73ffed0"],["ebb923773dbee72f","629f8bdd339dfdd5"]]},{"id":"02e2b2c302a2d49f","type":"server-state-changed","z":"4f38fbf2cf802929","name":"Sala Lights","server":"bc7a1b44.b9c7b8","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"light.sala_lights_group","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"}],"x":60,"y":500,"wires":[["3b9a336adfd7197b"]]},{"id":"3b9a336adfd7197b","type":"switch","z":"4f38fbf2cf802929","name":"","property":"data.new_state.context.user_id","propertyType":"msg","rules":[{"t":"null"},{"t":"eq","v":"f389ce79e38841e4bfd26c9685ffa784","vt":"str"},{"t":"eq","v":"7512fc7c361e45879df43f9f0f34fc57","vt":"str"},{"t":"eq","v":"b02831abf0e44536ad8fc552aede48c4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":290,"y":500,"wires":[[],[],["fed3d14af3ea806d"],["fed3d14af3ea806d"]]},{"id":"fed3d14af3ea806d","type":"api-call-service","z":"4f38fbf2cf802929","name":"Sala Sensor Off","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.sala_motion_sensor"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":500,"wires":[["3a999b6e3e5ab21f"]]},{"id":"d54e832af7ddd18c","type":"delay","z":"4f38fbf2cf802929","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":640,"y":100,"wires":[["ebb923773dbee72f"]]},{"id":"46c0305fe349eebb","type":"change","z":"4f38fbf2cf802929","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":160,"wires":[["d54e832af7ddd18c"]]},{"id":"44910cca8c7d02af","type":"server-state-changed","z":"4f38fbf2cf802929","name":"Sensor 3","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.ld2410_esp32_3_presence","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":60,"y":700,"wires":[["5f07e456f9728746"],["270d416dc457ded3"]]},{"id":"b80302656360fd88","type":"server-state-changed","z":"4f38fbf2cf802929","name":"Sensor 1","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.ld2410_esp32_1_presence","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":60,"y":600,"wires":[["a515e44d8ae99323"],["09f20d4cf88062f5"]]},{"id":"a515e44d8ae99323","type":"api-call-service","z":"4f38fbf2cf802929","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.ld2410_esp32_1_blue_status_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":290,"y":580,"wires":[[]]},{"id":"09f20d4cf88062f5","type":"api-call-service","z":"4f38fbf2cf802929","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.ld2410_esp32_1_blue_status_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":290,"y":640,"wires":[[]]},{"id":"5f07e456f9728746","type":"api-call-service","z":"4f38fbf2cf802929","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.ld2410_esp32_3_blue_status_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":290,"y":700,"wires":[[]]},{"id":"270d416dc457ded3","type":"api-call-service","z":"4f38fbf2cf802929","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.ld2410_esp32_3_blue_status_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":290,"y":760,"wires":[[]]},{"id":"b9f6f007271d1c12","type":"server-state-changed","z":"4f38fbf2cf802929","name":"Air Fryer - Status","server":"bc7a1b44.b9c7b8","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"sensor.xiaomi_airfryer_status","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":880,"wires":[["2b54c2d18cb35a1a"]]},{"id":"a74ec8fe9bd90cba","type":"server-state-changed","z":"4f38fbf2cf802929","name":"Air Fryer - Shake Pot","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"sensor.xiaomi_airfryer_turn_pot","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"TurnPot","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":960,"wires":[["c6002413cdb8f0a6"],[]]},{"id":"68f355c30fd36e42","type":"api-call-service","z":"4f38fbf2cf802929","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_poco_f4_gt","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Air Fryer\",\"message\":\"Cooking done\",\"data\":{\"tag\":\"air-fryer\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":840,"wires":[[]]},{"id":"c6002413cdb8f0a6","type":"api-call-service","z":"4f38fbf2cf802929","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_poco_f4_gt","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Air Fryer\",\"message\":\"Shake the pot\",\"data\":{\"tag\":\"air-fryer\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":370,"y":960,"wires":[[]]},{"id":"2b54c2d18cb35a1a","type":"switch","z":"4f38fbf2cf802929","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Cooked","vt":"str"},{"t":"eq","v":"Cooking","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":290,"y":860,"wires":[["68f355c30fd36e42"],[],[]]},{"id":"d315062d02d3482c","type":"api-call-service","z":"4f38fbf2cf802929","name":"RGB off","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.rgb_light_strip"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":320,"y":1120,"wires":[[]]},{"id":"7efbf153c542bc19","type":"api-call-service","z":"4f38fbf2cf802929","name":"RGB On","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.rgb_light_strip"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":320,"y":1060,"wires":[[]]},{"id":"30cb040ab580ef2c","type":"api-call-service","z":"4f38fbf2cf802929","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.ld2410_esp32_4_engineering_mode"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":560,"y":1260,"wires":[["de43496948f28bad"]]},{"id":"de43496948f28bad","type":"api-current-state","z":"4f38fbf2cf802929","name":"Still off","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.kitchen_motion_sensor","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"1","forType":"num","forUnits":"seconds","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":870,"y":1260,"wires":[["ef020ce123435d0c","cb4a33e08250f34c"],[]]},{"id":"3a999b6e3e5ab21f","type":"api-call-service","z":"4f38fbf2cf802929","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.nodered_a3aae868689fab25"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":700,"y":500,"wires":[[]]},{"id":"ef020ce123435d0c","type":"api-current-state","z":"4f38fbf2cf802929","name":"Sala Sensors","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.living_room_presence_sensors","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":1240,"wires":[["30cb040ab580ef2c"],[]]},{"id":"cb4a33e08250f34c","type":"api-current-state","z":"4f38fbf2cf802929","name":"Pantry Sensor","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.ld2410_esp32_3_presence","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":340,"y":1280,"wires":[["30cb040ab580ef2c"],[]]},{"id":"372884f2c771508f","type":"server-state-changed","z":"4f38fbf2cf802929","name":"Kitchen Sensor","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"673b81f277420ce8","entityId":"binary_sensor.kitchen_motion_sensor","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"unavailable","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":1280,"wires":[["ef020ce123435d0c","cb4a33e08250f34c"],[]]},{"id":"8a07380e2736895c","type":"server-state-changed","z":"4f38fbf2cf802929","name":"Sala Sensor","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"673b81f277420ce8","entityId":"binary_sensor.living_room_presence_sensors","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":70,"y":1360,"wires":[["4821a6ae6614f6cf"],[]]},{"id":"4821a6ae6614f6cf","type":"api-current-state","z":"4f38fbf2cf802929","name":"Kitchen Sensor ","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.kitchen_motion_sensor","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":340,"y":1420,"wires":[["506b8361ef992f3d"],[]]},{"id":"506b8361ef992f3d","type":"api-call-service","z":"4f38fbf2cf802929","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.ld2410_esp32_4_engineering_mode"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":560,"y":1420,"wires":[[]]},{"id":"756ac81f35223bfc","type":"server-state-changed","z":"4f38fbf2cf802929","name":"Pantry Sensor","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"673b81f277420ce8","entityId":"binary_sensor.ld2410_esp32_4_presence","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":70,"y":1420,"wires":[["4821a6ae6614f6cf"],[]]},{"id":"1995228f3a21567c","type":"server-state-changed","z":"4f38fbf2cf802929","name":"Sala Sensor","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"673b81f277420ce8","entityId":"binary_sensor.ld2410_esp32_1_moving_target","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":70,"y":1480,"wires":[["4821a6ae6614f6cf"],[]]},{"id":"f0937d921f7368df","type":"server-state-changed","z":"4f38fbf2cf802929","name":"Kitchen Sensor","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"673b81f277420ce8","entityId":"binary_sensor.kitchen_motion_sensor","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":1060,"wires":[["7efbf153c542bc19"],[]]},{"id":"0d20bf7f11eeae67","type":"server-state-changed","z":"4f38fbf2cf802929","d":true,"name":"Kitchen RGB","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"light.rgb_light_strip","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":70,"y":1660,"wires":[["142a5dd751dcc95c"],["2525a10b867015d4"]]},{"id":"0f63e0c32a3112a6","type":"server-state-changed","z":"4f38fbf2cf802929","name":"Kitchen Sensor","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"673b81f277420ce8","entityId":"binary_sensor.kitchen_motion_sensor","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"2","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":1140,"wires":[["d315062d02d3482c"],[]]},{"id":"de8a4d958947209f","type":"api-call-service","z":"4f38fbf2cf802929","d":true,"name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.kitchen_motion_sensor"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":1640,"wires":[[]]},{"id":"a62a7024232eba4f","type":"api-call-service","z":"4f38fbf2cf802929","d":true,"name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.kitchen_motion_sensor"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":1720,"wires":[[]]},{"id":"2525a10b867015d4","type":"switch","z":"4f38fbf2cf802929","d":true,"name":"Is Manual On","property":"data.new_state.context.user_id","propertyType":"msg","rules":[{"t":"eq","v":"7512fc7c361e45879df43f9f0f34fc57","vt":"str"},{"t":"eq","v":"null","vt":"jsonata"}],"checkall":"false","repair":false,"outputs":2,"x":250,"y":1720,"wires":[["a62a7024232eba4f","b6960adb1871c000"],["de8a4d958947209f"]]},{"id":"142a5dd751dcc95c","type":"switch","z":"4f38fbf2cf802929","d":true,"name":"Is Manual On","property":"data.new_state.context.user_id","propertyType":"msg","rules":[{"t":"eq","v":"7512fc7c361e45879df43f9f0f34fc57","vt":"str"},{"t":"eq","v":"null","vt":"jsonata"}],"checkall":"false","repair":false,"outputs":2,"x":250,"y":1640,"wires":[["de8a4d958947209f"],["de8a4d958947209f"]]},{"id":"b6960adb1871c000","type":"api-call-service","z":"4f38fbf2cf802929","d":true,"name":"RGB Max","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.rgb_light_strip"],"data":"{\"brightness_pct\":100}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":1780,"wires":[[]]},{"id":"68e35b85d326a0f7","type":"subflow:2053e7b6258787f3","z":"4f38fbf2cf802929","name":"","x":540,"y":380,"wires":[["ebb923773dbee72f","d6c840d00d415c90"],["ba2e5672a4709ca8"]]},{"id":"c38979adb33711bf","type":"server-state-changed","z":"4f38fbf2cf802929","name":"Sala Sensors 1+3 Clear","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"2adbd26ae2d8958c","entityId":"binary_sensor.living_room_presence_sensors","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"limit","propertyType":"msg","value":"10","valueType":"num"}],"x":100,"y":400,"wires":[["68e35b85d326a0f7"],[]]},{"id":"2151d38b07b83797","type":"server-state-changed","z":"4f38fbf2cf802929","name":"Use Kitchen Lights Toggle","server":"bc7a1b44.b9c7b8","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"input_boolean.use_kitchen_lights","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":890,"y":260,"wires":[["75fb114fbef8a579"]]},{"id":"75fb114fbef8a579","type":"api-current-state","z":"4f38fbf2cf802929","name":"Is Occupied","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.living_room_presence_sensors","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"seconds","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1130,"y":260,"wires":[["9759dc8b6c7cffd3"],[]]},{"id":"ae82871c8dbd5316","type":"api-call-service","z":"4f38fbf2cf802929","name":"Lights On","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.sala_lights_group"],"data":"{\"brightness_pct\":\"100\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1740,"y":420,"wires":[[]]},{"id":"4fcd40a3bdfc5867","type":"api-call-service","z":"4f38fbf2cf802929","name":"RGB Max","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.rgb_light_strip"],"data":"{\"brightness_pct\":100}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1760,"y":100,"wires":[[]]},{"id":"9759dc8b6c7cffd3","type":"api-current-state","z":"4f38fbf2cf802929","name":"use Kitchen Lights?","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.use_kitchen_lights","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1370,"y":260,"wires":[["c9dcc2feec94329f","ed26d1cdbf0e13b4"],["07117eaf19663af7","d332e63cafcd3a0e"]]},{"id":"ad81dbe356767922","type":"api-call-service","z":"4f38fbf2cf802929","name":"RGB Max off","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.rgb_light_strip"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1750,"y":500,"wires":[[]]},{"id":"4c820c652b2f17b0","type":"api-call-service","z":"4f38fbf2cf802929","name":"Lights off","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.sala_lights_group"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1760,"y":160,"wires":[[]]},{"id":"c9dcc2feec94329f","type":"api-call-service","z":"4f38fbf2cf802929","name":"Kitchen Sensor off","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.kitchen_motion_sensor"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1590,"y":240,"wires":[[]]},{"id":"07117eaf19663af7","type":"api-call-service","z":"4f38fbf2cf802929","name":"Kitchen Sensor on","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.kitchen_motion_sensor"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1610,"y":320,"wires":[[]]},{"id":"d6c840d00d415c90","type":"change","z":"4f38fbf2cf802929","name":"","rules":[{"t":"set","p":"falsePositive","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":380,"wires":[[]]},{"id":"dc7ad3f015ac641a","type":"switch","z":"4f38fbf2cf802929","name":"isTruePositive","property":"falsePositive","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":340,"y":40,"wires":[["d54e832af7ddd18c","924ec5fbd1bd5eee"]]},{"id":"ba2e5672a4709ca8","type":"change","z":"4f38fbf2cf802929","name":"","rules":[{"t":"set","p":"falsePositive","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":420,"wires":[[]]},{"id":"2e5cf3b6ecf22e8d","type":"api-call-service","z":"4f38fbf2cf802929","name":"Fans On","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.ceiling_fan"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1400,"y":40,"wires":[[]]},{"id":"629f8bdd339dfdd5","type":"api-call-service","z":"4f38fbf2cf802929","name":"Fans Off","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.ceiling_fan","switch.smart_switch_b38e"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1400,"y":100,"wires":[[]]},{"id":"2e8123c7daae01c9","type":"server-state-changed","z":"4f38fbf2cf802929","name":"Sala Sensors 1+3 Clear1min","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"2adbd26ae2d8958c","entityId":"binary_sensor.living_room_presence_sensors","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":false,"for":"1","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":1120,"y":100,"wires":[["629f8bdd339dfdd5"],[]]},{"id":"bb60ed50e73ffed0","type":"subflow:72d9f44b25615f34","z":"4f38fbf2cf802929","name":"","x":610,"y":200,"wires":[]},{"id":"924ec5fbd1bd5eee","type":"subflow:34febce23a13a380","z":"4f38fbf2cf802929","name":"","x":640,"y":40,"wires":[]},{"id":"ed26d1cdbf0e13b4","type":"api-current-state","z":"4f38fbf2cf802929","name":"sala lights on","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.sala_lights_group","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1590,"y":160,"wires":[["4c820c652b2f17b0","4fcd40a3bdfc5867"],[]]},{"id":"d332e63cafcd3a0e","type":"api-current-state","z":"4f38fbf2cf802929","name":"rgb","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.rgb_light_strip","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1550,"y":420,"wires":[["ae82871c8dbd5316","ad81dbe356767922"],[]]},{"id":"67dc41f99fa3972b","type":"server-state-changed","z":"4f38fbf2cf802929","name":"Bedroom Sensor Clear 5min","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"f43ae479fc54977c","entityId":"binary_sensor.esp32_presence_bedroom_presence","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"5","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":900,"y":580,"wires":[["95f1192938797697"],[]]},{"id":"078543fe7f1de904","type":"api-call-service","z":"4f38fbf2cf802929","name":"Turn on Motion Sensor","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.bedroom_motion_sensor_2"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1380,"y":580,"wires":[[]]},{"id":"499ea6a552fbf5e1","type":"server-state-changed","z":"4f38fbf2cf802929","name":"Sala Sensor Clear 5 min","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"f43ae479fc54977c","entityId":"binary_sensor.living_room_presence_sensors","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"5","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":890,"y":640,"wires":[["16621aa836181f28"],[]]},{"id":"dac78d4f4174c986","type":"api-call-service","z":"4f38fbf2cf802929","name":"Turn on Motion Sensor","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.sala_motion_sensor"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1300,"y":640,"wires":[[]]},{"id":"2521f265b1e7c5b2","type":"server-state-changed","z":"4f38fbf2cf802929","name":"Pantry Sensor Clear 5 min","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"f43ae479fc54977c","entityId":"binary_sensor.ld2410_esp32_4_presence","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"5","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":890,"y":700,"wires":[["4c6b3ae934ed218b"],[]]},{"id":"dfca9a36516e481c","type":"api-call-service","z":"4f38fbf2cf802929","name":"Turn on Motion Sensor","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.pantry_motion_sensor"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1300,"y":700,"wires":[[]]},{"id":"e55887e746ea6928","type":"server-state-changed","z":"4f38fbf2cf802929","name":"Fans off","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"switch.ceiling_fan","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":50,"y":460,"wires":[["3b9a336adfd7197b"],[]]},{"id":"840f45083a9ac56a","type":"server-state-changed","z":"4f38fbf2cf802929","name":"Kitchen Lights On","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"light.rgb_light_strip","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"entity","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"sensor","propertyType":"msg","value":"switch.kitchen_motion_sensor","valueType":"str"}],"x":860,"y":940,"wires":[["f039e39901721fec"],[]]},{"id":"f039e39901721fec","type":"subflow:a0dd34e402ff40a1","z":"4f38fbf2cf802929","name":"","x":1150,"y":940,"wires":[]},{"id":"8ac248791ba6373c","type":"server-state-changed","z":"4f38fbf2cf802929","name":"Kitchen Sensor Clear 5 min","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"f43ae479fc54977c","entityId":"binary_sensor.kitchen_motion_sensor","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"5","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":890,"y":760,"wires":[["5b73023fca2d27f5"],[]]},{"id":"b34cc3e44d42886b","type":"api-call-service","z":"4f38fbf2cf802929","name":"Turn on Motion Sensor","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.kitchen_motion_sensor"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1600,"y":760,"wires":[[]]},{"id":"ec2b9fee13c772e4","type":"api-current-state","z":"4f38fbf2cf802929","name":"use Kitchen Lights?","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","entity_id":"input_boolean.use_kitchen_lights","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1290,"y":760,"wires":[[],["b34cc3e44d42886b"]]},{"id":"9c127fb2e0e440cf","type":"server-state-changed","z":"4f38fbf2cf802929","name":"Kitchen Motion Sensors Enabled","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"switch.kitchen_motion_sensor","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":910,"y":840,"wires":[["3ddad8ae570413b0"],[]]},{"id":"3ddad8ae570413b0","type":"api-current-state","z":"4f38fbf2cf802929","name":"Is Occupied","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.kitchen_motion_sensor","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"seconds","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1170,"y":840,"wires":[[],["d315062d02d3482c"]]},{"id":"95f1192938797697","type":"api-current-state","z":"4f38fbf2cf802929","name":"is off","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.bedroom_motion_sensor_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1130,"y":580,"wires":[["078543fe7f1de904"],[]]},{"id":"16621aa836181f28","type":"api-current-state","z":"4f38fbf2cf802929","name":"is off","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.sala_motion_sensor","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1090,"y":640,"wires":[["dac78d4f4174c986"],[]]},{"id":"4c6b3ae934ed218b","type":"api-current-state","z":"4f38fbf2cf802929","name":"is off","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.pantry_motion_sensor","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1090,"y":700,"wires":[["dfca9a36516e481c"],[]]},{"id":"5b73023fca2d27f5","type":"api-current-state","z":"4f38fbf2cf802929","name":"is off","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.kitchen_motion_sensor","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1090,"y":760,"wires":[["ec2b9fee13c772e4"],[]]},{"id":"be714fb8d5654ed0","type":"server-state-changed","z":"4f38fbf2cf802929","name":"Kitchen RGB","server":"bc7a1b44.b9c7b8","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"light.rgb_light_strip","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":70,"y":1560,"wires":[["e09a2d9de617cf47"]]},{"id":"88b01fb460833d9c","type":"api-call-service","z":"4f38fbf2cf802929","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.kitchen_motion_sensor"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":1560,"wires":[[]]},{"id":"e09a2d9de617cf47","type":"switch","z":"4f38fbf2cf802929","name":"Is Manual On","property":"data.new_state.context.user_id","propertyType":"msg","rules":[{"t":"eq","v":"7512fc7c361e45879df43f9f0f34fc57","vt":"str"},{"t":"eq","v":"null","vt":"jsonata"}],"checkall":"false","repair":false,"outputs":2,"x":270,"y":1560,"wires":[["88b01fb460833d9c"],["88b01fb460833d9c"]]},{"id":"6fbe9f5c21ba80ee","type":"api-call-service","z":"c708c2125406a780","name":"Lights on","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":["b7656b631273e0ba509b0f654909230a"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":20,"wires":[[]]},{"id":"7c156d7b26b1b491","type":"server-state-changed","z":"c708c2125406a780","name":"Bedroom Sensor Clear","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"873f2918db605440","entityId":"binary_sensor.esp32_presence_bedroom_presence","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"10","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":80,"wires":[["24b2b58a554907c5"],["6fbe9f5c21ba80ee"]]},{"id":"52a98b24724a6031","type":"server-state-changed","z":"c708c2125406a780","name":"Bedroom Motion Sensors Enabled","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"switch.bedroom_motion_sensor_2","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":20,"wires":[["3cabdd64b2cf8704"],[]]},{"id":"3cabdd64b2cf8704","type":"api-current-state","z":"c708c2125406a780","name":"Is Occupied","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.esp32_presence_bedroom_presence","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"seconds","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":470,"y":20,"wires":[["6fbe9f5c21ba80ee"],["24b2b58a554907c5"]]},{"id":"e66af2b12adad248","type":"api-call-service","z":"c708c2125406a780","name":"Bedroom Sensor Off","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.bedroom_motion_sensor_2"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":380,"wires":[[]]},{"id":"7abdb4bafd901ba2","type":"server-state-changed","z":"c708c2125406a780","name":"Bedlights","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"light.bed_lights","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"}],"x":60,"y":420,"wires":[["48068db44918d2b2"],["7765a3944ced8a59"]]},{"id":"e89ed2e25eafe819","type":"api-call-service","z":"c708c2125406a780","name":"Bedroom Sensor On","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.bedroom_motion_sensor_2"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":500,"wires":[[]]},{"id":"cd3f9787e4bba95c","type":"server-state-changed","z":"c708c2125406a780","name":"Bedroom Tapo Plug","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"switch.pantry_plug_socket_1","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"limit","propertyType":"msg","value":"5","valueType":"str"}],"x":90,"y":760,"wires":[["96db8d2227706250"],[]]},{"id":"96db8d2227706250","type":"switch","z":"c708c2125406a780","name":"Manual Toggle","property":"data.new_state.context.user_id","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":760,"wires":[["29b81482c7a93f32","8659d3d2d4b9c7c8"]]},{"id":"8659d3d2d4b9c7c8","type":"api-call-service","z":"c708c2125406a780","name":"Revert State","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.pantry_plug_socket_1"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":720,"wires":[["41ede721bc2bb05f"]]},{"id":"29b81482c7a93f32","type":"api-call-service","z":"c708c2125406a780","name":"Toggle Lights","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":["b7656b631273e0ba509b0f654909230a"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":480,"y":860,"wires":[["c77277797cf831de"]]},{"id":"6ec113cbb05108ef","type":"api-call-service","z":"c708c2125406a780","name":"Bedroom Sensor Off","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.bedroom_motion_sensor_2"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1160,"y":900,"wires":[[]]},{"id":"c1c1a15ca89ba7ab","type":"subflow:2053e7b6258787f3","z":"c708c2125406a780","name":"","x":380,"y":180,"wires":[["4336bc49a26eaeb7"],[]]},{"id":"8406489956bbdccc","type":"server-state-changed","z":"c708c2125406a780","name":"Bedroom Sensor Clear","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"873f2918db605440","entityId":"binary_sensor.esp32_presence_bedroom_presence","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"limit","propertyType":"msg","value":"10","valueType":"num"}],"x":100,"y":180,"wires":[["c1c1a15ca89ba7ab"],[]]},{"id":"4336bc49a26eaeb7","type":"api-call-service","z":"c708c2125406a780","name":"Lights Off","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":["b7656b631273e0ba509b0f654909230a"],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":580,"y":180,"wires":[[]]},{"id":"c77277797cf831de","type":"api-current-state","z":"c708c2125406a780","name":"Lights off?","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","entity_id":"light.bed_lights","state_type":"habool","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":850,"y":840,"wires":[["0c753e4b5aa04856"],["6ec113cbb05108ef"]]},{"id":"0c753e4b5aa04856","type":"api-call-service","z":"c708c2125406a780","name":"Bedroom Sensor On","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.bedroom_motion_sensor_2"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1180,"y":760,"wires":[[]]},{"id":"9cbfcd4cc2bb5b70","type":"server-state-changed","z":"c708c2125406a780","name":"Bedroom Tapo Plug","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"switch.pantry_plug_socket_1","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"limit","propertyType":"msg","value":"5","valueType":"str"}],"x":90,"y":940,"wires":[["986d4db5a9ce44c7"],[]]},{"id":"986d4db5a9ce44c7","type":"switch","z":"c708c2125406a780","name":"Manual Toggle","property":"data.new_state.context.user_id","propertyType":"msg","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":940,"wires":[["29b81482c7a93f32","d83bb858ee2f8490"]]},{"id":"d83bb858ee2f8490","type":"api-call-service","z":"c708c2125406a780","name":"Revert State","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.pantry_plug_socket_1"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":980,"wires":[["463978dceb1104bc"]]},{"id":"463978dceb1104bc","type":"delay","z":"c708c2125406a780","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":950,"y":980,"wires":[["b4010a63415b4603"]]},{"id":"b4010a63415b4603","type":"api-current-state","z":"c708c2125406a780","name":"Is off","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.pantry_plug_socket_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":710,"y":1080,"wires":[["d83bb858ee2f8490"],[]]},{"id":"41ede721bc2bb05f","type":"delay","z":"c708c2125406a780","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":950,"y":720,"wires":[["a6bc8a5b1e54e84a"]]},{"id":"a6bc8a5b1e54e84a","type":"api-current-state","z":"c708c2125406a780","name":"Is on","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.pantry_plug_socket_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":770,"y":580,"wires":[["8659d3d2d4b9c7c8"],[]]},{"id":"644be142192a39c3","type":"server-state-changed","z":"c708c2125406a780","name":"Bedroom Sensor Clear","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.esp32_presence_bedroom_presence","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"1","forType":"num","forUnits":"hours","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"limit","propertyType":"msg","value":"10","valueType":"num"}],"x":100,"y":260,"wires":[["c9f2147e57283010"],[]]},{"id":"10c7315ac4c94b5c","type":"inject","z":"c708c2125406a780","name":"on 7am","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":320,"wires":[["c9f2147e57283010"]]},{"id":"c9f2147e57283010","type":"api-call-service","z":"c708c2125406a780","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":["climate.9424b8953eb9"],"data":"{\"temperature\":25,\"hvac_mode\":\"cool\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":390,"y":260,"wires":[[]]},{"id":"24b2b58a554907c5","type":"api-call-service","z":"c708c2125406a780","name":"Turn off","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.bed_lights","switch.pantry_plug_socket_1"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":80,"wires":[[]]},{"id":"48068db44918d2b2","type":"switch","z":"c708c2125406a780","name":"","property":"data.new_state.context.user_id","propertyType":"msg","rules":[{"t":"null"},{"t":"eq","v":"f389ce79e38841e4bfd26c9685ffa784","vt":"str"},{"t":"eq","v":"7512fc7c361e45879df43f9f0f34fc57","vt":"str"},{"t":"eq","v":"b02831abf0e44536ad8fc552aede48c4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":230,"y":380,"wires":[[],[],["e66af2b12adad248"],["e66af2b12adad248"]]},{"id":"7765a3944ced8a59","type":"switch","z":"c708c2125406a780","name":"","property":"data.new_state.context.user_id","propertyType":"msg","rules":[{"t":"null"},{"t":"eq","v":"f389ce79e38841e4bfd26c9685ffa784","vt":"str"},{"t":"eq","v":"7512fc7c361e45879df43f9f0f34fc57","vt":"str"},{"t":"eq","v":"b02831abf0e44536ad8fc552aede48c4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":230,"y":480,"wires":[[],[],["e89ed2e25eafe819"],["e89ed2e25eafe819"]]},{"id":"11dfc6c932021099","type":"server-state-changed","z":"11d2320978cf1f7f","name":"TV on","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"media_player.living_room_tv_2","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":50,"y":80,"wires":[["6ae00381c4600fd6","dd906af81ff48c53","f30df60cc2cf263b","9b1c76de996e926a","4989103543c49da4"],[]]},{"id":"66ad1ad5d4e6f55e","type":"server-state-changed","z":"11d2320978cf1f7f","name":"TV off","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"media_player.living_room_tv_2","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":50,"y":160,"wires":[["1e2428dc38ef9aac","34de3c23ed97655c","a1e935609dae1068"],[]]},{"id":"1e2428dc38ef9aac","type":"api-call-service","z":"11d2320978cf1f7f","name":"Sala Motion On","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.sala_motion_sensor"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":260,"y":180,"wires":[[]]},{"id":"c89fe3f455dacd23","type":"server-state-changed","z":"11d2320978cf1f7f","name":"TV off","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"media_player.living_room_tv_2","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"unavailable","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":50,"y":280,"wires":[["1e2428dc38ef9aac","34de3c23ed97655c","a1e935609dae1068"],[]]},{"id":"7a4bb64de4cad2c4","type":"server-state-changed","z":"11d2320978cf1f7f","name":"TV State","server":"bc7a1b44.b9c7b8","version":5,"outputs":1,"exposeAsEntityConfig":"90e90b1bf1d27e84","entityId":"media_player.tcl65c755","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":60,"y":340,"wires":[["0dcd8c6b562accd4"]]},{"id":"0dcd8c6b562accd4","type":"switch","z":"11d2320978cf1f7f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"playing","vt":"str"},{"t":"eq","v":"buffering","vt":"str"},{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"idle","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":230,"y":340,"wires":[["8c1db01e141d697b","631e3bd6cdec3db7"],["8c1db01e141d697b"],["8c1db01e141d697b"],["8c1db01e141d697b"]]},{"id":"dd906af81ff48c53","type":"api-call-service","z":"11d2320978cf1f7f","name":"Lights Off","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.rgb_light_strip","light.sala_lights_group"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":240,"y":100,"wires":[[]]},{"id":"6ae00381c4600fd6","type":"api-call-service","z":"11d2320978cf1f7f","name":"Sala Motion Off","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.sala_motion_sensor"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":260,"y":60,"wires":[[]]},{"id":"8c1db01e141d697b","type":"api-call-service","z":"11d2320978cf1f7f","name":"Lights Off","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.rgb_light_strip","light.sala_lights_group"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":360,"wires":[["64f932708ac091fb"]]},{"id":"2c50db6bdeba01b6","type":"server-state-changed","z":"11d2320978cf1f7f","name":"No Motion","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"90e90b1bf1d27e84","entityId":"binary_sensor.ld2410_esp32_1_presence","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"500","forType":"num","forUnits":"milliseconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":60,"y":560,"wires":[["4be7a56d6ec6766b"],["4d9d5a829b9a0380"]]},{"id":"735b569476caf55e","type":"api-call-service","z":"11d2320978cf1f7f","name":"pause","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"media_player","service":"media_pause","areaId":[],"deviceId":[],"entityId":["media_player.tcl65c755"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":590,"y":540,"wires":[["72488e71725f6ba1"]]},{"id":"ea17ddd3f292019e","type":"api-call-service","z":"11d2320978cf1f7f","name":"play","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"media_player","service":"media_play","areaId":[],"deviceId":[],"entityId":["media_player.tcl65c755"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":470,"y":600,"wires":[["64f932708ac091fb"]]},{"id":"f30df60cc2cf263b","type":"api-call-service","z":"11d2320978cf1f7f","name":"tv-automation on","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.nodered_90e90b1bf1d27e84"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":270,"y":20,"wires":[[]]},{"id":"3ebe7409f7bf2713","type":"ha-webhook","z":"11d2320978cf1f7f","name":"Sala Lights Toggle","server":"bc7a1b44.b9c7b8","version":3,"exposeAsEntityConfig":"","outputs":1,"webhookId":"sala-lights-toggle","method_get":false,"method_head":false,"method_post":true,"method_put":true,"outputProperties":[{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"payloadLocation":false,"payloadLocationType":false,"headersLocation":false,"headersLocationType":false,"x":910,"y":40,"wires":[["1b4e33c7684f14a7"]]},{"id":"1b4e33c7684f14a7","type":"api-call-service","z":"11d2320978cf1f7f","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":[],"entityId":["light.sala_lights_group"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1130,"y":40,"wires":[["f8dd506eab2f81bc"]]},{"id":"8f3ea5891d0fc88a","type":"ha-webhook","z":"11d2320978cf1f7f","name":"Pantry Lights Toggle","server":"bc7a1b44.b9c7b8","version":3,"exposeAsEntityConfig":"","outputs":1,"webhookId":"pantry-lights-toggle","method_get":false,"method_head":false,"method_post":true,"method_put":true,"outputProperties":[{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"payloadLocation":false,"payloadLocationType":false,"headersLocation":false,"headersLocationType":false,"x":910,"y":100,"wires":[["e15e88367c48066c"]]},{"id":"e15e88367c48066c","type":"api-call-service","z":"11d2320978cf1f7f","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":[],"entityId":["light.pantry_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1130,"y":100,"wires":[["804b872d2ececfd8"]]},{"id":"123d8667467c21db","type":"ha-webhook","z":"11d2320978cf1f7f","name":"Bed Lights Toggle","server":"bc7a1b44.b9c7b8","version":3,"exposeAsEntityConfig":"","outputs":1,"webhookId":"bed-lights-toggle","method_get":false,"method_head":false,"method_post":true,"method_put":true,"outputProperties":[{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"payloadLocation":false,"payloadLocationType":false,"headersLocation":false,"headersLocationType":false,"x":910,"y":200,"wires":[["f7b71fdbc6577bb3"]]},{"id":"f7b71fdbc6577bb3","type":"api-call-service","z":"11d2320978cf1f7f","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":[],"entityId":["light.bed_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1130,"y":200,"wires":[["e4bd9540c0632222"]]},{"id":"316b5c14c6df902e","type":"ha-webhook","z":"11d2320978cf1f7f","name":"PC on","server":"bc7a1b44.b9c7b8","version":3,"exposeAsEntityConfig":"","outputs":1,"webhookId":"pc-on","method_get":false,"method_head":false,"method_post":true,"method_put":true,"outputProperties":[{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"payloadLocation":false,"payloadLocationType":false,"headersLocation":false,"headersLocationType":false,"x":50,"y":1060,"wires":[["54db8bcc35149d57","20ac212b78aef576"]]},{"id":"54db8bcc35149d57","type":"api-call-service","z":"11d2320978cf1f7f","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.wake_on_lan"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":240,"y":1060,"wires":[["254f21be229e9ad1","f057a48e5c012fe9"]]},{"id":"0c647a7259bf2b26","type":"ha-webhook","z":"11d2320978cf1f7f","name":"PC off","server":"bc7a1b44.b9c7b8","version":3,"exposeAsEntityConfig":"","outputs":1,"webhookId":"pc-off","method_get":false,"method_head":false,"method_post":true,"method_put":true,"outputProperties":[{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"payloadLocation":false,"payloadLocationType":false,"headersLocation":false,"headersLocationType":false,"x":50,"y":1120,"wires":[["8c71d8ab221d9ca5","20ac212b78aef576"]]},{"id":"4a45f5a68e387185","type":"api-call-service","z":"11d2320978cf1f7f","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.wake_on_lan"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":660,"y":1120,"wires":[["61eb471011ca8b6b"]]},{"id":"aedcf8ac74fa258c","type":"ha-webhook","z":"11d2320978cf1f7f","name":"Sala Lights Motion","server":"bc7a1b44.b9c7b8","version":3,"exposeAsEntityConfig":"","outputs":1,"webhookId":"sala-lights-motion","method_get":false,"method_head":false,"method_post":true,"method_put":true,"outputProperties":[{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"payloadLocation":false,"payloadLocationType":false,"headersLocation":false,"headersLocationType":false,"x":910,"y":420,"wires":[["d3b5f91ba1400613"]]},{"id":"d3b5f91ba1400613","type":"api-call-service","z":"11d2320978cf1f7f","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"toggle","areaId":[],"deviceId":[],"entityId":["switch.sala_motion_sensor"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1130,"y":420,"wires":[[]]},{"id":"8d5fae81df3edf94","type":"ha-webhook","z":"11d2320978cf1f7f","name":"Pantry Lights Motion","server":"bc7a1b44.b9c7b8","version":3,"exposeAsEntityConfig":"","outputs":1,"webhookId":"pantry-lights-motion","method_get":false,"method_head":false,"method_post":true,"method_put":true,"outputProperties":[{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"payloadLocation":false,"payloadLocationType":false,"headersLocation":false,"headersLocationType":false,"x":910,"y":480,"wires":[["0cbbd18dfc9e854e"]]},{"id":"0cbbd18dfc9e854e","type":"api-call-service","z":"11d2320978cf1f7f","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"toggle","areaId":[],"deviceId":[],"entityId":["switch.pantry_motion_sensor"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1130,"y":480,"wires":[[]]},{"id":"f8dd506eab2f81bc","type":"api-current-state","z":"11d2320978cf1f7f","name":"Is Off","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.sala_lights_group","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1350,"y":40,"wires":[["916466aa3893346a"],["22538c5993783e11"]]},{"id":"916466aa3893346a","type":"api-call-service","z":"11d2320978cf1f7f","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.nodered_90e90b1bf1d27e84"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1580,"y":20,"wires":[[]]},{"id":"22538c5993783e11","type":"api-call-service","z":"11d2320978cf1f7f","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.nodered_90e90b1bf1d27e84"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1580,"y":60,"wires":[[]]},{"id":"e87657b233b17ed2","type":"ha-webhook","z":"11d2320978cf1f7f","name":"PC toggle","server":"bc7a1b44.b9c7b8","version":3,"exposeAsEntityConfig":"","outputs":1,"webhookId":"pc-toggle","method_get":false,"method_head":false,"method_post":true,"method_put":true,"outputProperties":[{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"payloadLocation":false,"payloadLocationType":false,"headersLocation":false,"headersLocationType":false,"x":60,"y":1180,"wires":[["2ab54a7367884efb","20ac212b78aef576"]]},{"id":"2ab54a7367884efb","type":"api-call-service","z":"11d2320978cf1f7f","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.wake_on_lan"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":240,"y":1180,"wires":[[]]},{"id":"34de3c23ed97655c","type":"api-call-service","z":"11d2320978cf1f7f","name":"tv-automation off","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.nodered_90e90b1bf1d27e84"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":270,"y":260,"wires":[[]]},{"id":"fdbce7fb1e12ea8f","type":"api-call-service","z":"11d2320978cf1f7f","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.sala_lights_group"],"data":"{     \"brightness\": \"255\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":760,"wires":[[]]},{"id":"740413ddf17545de","type":"ha-webhook","z":"11d2320978cf1f7f","name":"Light max","server":"bc7a1b44.b9c7b8","version":3,"exposeAsEntityConfig":"","outputs":1,"webhookId":"light-max","method_get":false,"method_head":false,"method_post":true,"method_put":true,"outputProperties":[{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"payloadLocation":false,"payloadLocationType":false,"headersLocation":false,"headersLocationType":false,"x":60,"y":800,"wires":[["3f836f0ef055ca51"]]},{"id":"3f836f0ef055ca51","type":"switch","z":"11d2320978cf1f7f","name":"","property":"currentLight","propertyType":"flow","rules":[{"t":"eq","v":"sala","vt":"str"},{"t":"eq","v":"pantry","vt":"str"},{"t":"eq","v":"bed","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":270,"y":800,"wires":[["fdbce7fb1e12ea8f"],["90b460e1d1062579"],["35a98f9487469732"]]},{"id":"0624a87398898c24","type":"ha-webhook","z":"11d2320978cf1f7f","name":"Light min","server":"bc7a1b44.b9c7b8","version":3,"exposeAsEntityConfig":"","outputs":1,"webhookId":"light-min","method_get":false,"method_head":false,"method_post":true,"method_put":true,"outputProperties":[{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"payloadLocation":false,"payloadLocationType":false,"headersLocation":false,"headersLocationType":false,"x":60,"y":960,"wires":[["3e8809a15dba119d"]]},{"id":"3e8809a15dba119d","type":"switch","z":"11d2320978cf1f7f","name":"","property":"currentLight","propertyType":"flow","rules":[{"t":"eq","v":"sala","vt":"str"},{"t":"eq","v":"pantry","vt":"str"},{"t":"eq","v":"bed","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":270,"y":940,"wires":[["4fb7d487c6b90184"],["72f329720a0476b2"],["2ba625db54212626"]]},{"id":"90b460e1d1062579","type":"api-call-service","z":"11d2320978cf1f7f","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.pantry_lights"],"data":"{     \"brightness\": \"255\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":800,"wires":[[]]},{"id":"35a98f9487469732","type":"api-call-service","z":"11d2320978cf1f7f","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.sala_lights_group"],"data":"{     \"brightness\": \"255\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":840,"wires":[[]]},{"id":"4fb7d487c6b90184","type":"api-call-service","z":"11d2320978cf1f7f","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.sala_lights_group"],"data":"{     \"brightness\": \"5\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":900,"wires":[[]]},{"id":"72f329720a0476b2","type":"api-call-service","z":"11d2320978cf1f7f","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.pantry_lights"],"data":"{     \"brightness\": \"5\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":940,"wires":[[]]},{"id":"2ba625db54212626","type":"api-call-service","z":"11d2320978cf1f7f","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.sala_lights_group"],"data":"{     \"brightness\": \"5\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":980,"wires":[[]]},{"id":"72488e71725f6ba1","type":"change","z":"11d2320978cf1f7f","name":"","rules":[{"t":"set","p":"autoPaused","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":540,"wires":[[]]},{"id":"64f932708ac091fb","type":"change","z":"11d2320978cf1f7f","name":"","rules":[{"t":"set","p":"autoPaused","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":600,"wires":[["eb1a236796e727c2"]]},{"id":"4d9d5a829b9a0380","type":"switch","z":"11d2320978cf1f7f","name":"","property":"autoPaused","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":600,"wires":[["ea17ddd3f292019e"]]},{"id":"4be7a56d6ec6766b","type":"api-current-state","z":"11d2320978cf1f7f","name":"tv state","server":"bc7a1b44.b9c7b8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.tcl65c755","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":240,"y":540,"wires":[["054fcadb0cc49720"]]},{"id":"054fcadb0cc49720","type":"switch","z":"11d2320978cf1f7f","name":"!Spotify","property":"data.attributes.app_name","propertyType":"msg","rules":[{"t":"neq","v":"Spotify","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":540,"wires":[["735b569476caf55e"]]},{"id":"9b1c76de996e926a","type":"api-call-service","z":"11d2320978cf1f7f","name":"Backlight On","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.tv_backlight_3_lite"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":250,"y":140,"wires":[["86a11422013096bb"]]},{"id":"a1e935609dae1068","type":"api-call-service","z":"11d2320978cf1f7f","name":"Backlight Off","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.tv_backlight_3_lite"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":250,"y":220,"wires":[[]]},{"id":"e7b29e4cf511dc82","type":"ha-webhook","z":"11d2320978cf1f7f","name":"TV Automation Toggle","server":"bc7a1b44.b9c7b8","version":3,"exposeAsEntityConfig":"","outputs":1,"webhookId":"tv-auto","method_get":false,"method_head":false,"method_post":true,"method_put":true,"outputProperties":[{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"payloadLocation":false,"payloadLocationType":false,"headersLocation":false,"headersLocationType":false,"x":100,"y":1260,"wires":[["8aa417a94abe3f71"]]},{"id":"8aa417a94abe3f71","type":"api-call-service","z":"11d2320978cf1f7f","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"toggle","areaId":[],"deviceId":[],"entityId":["switch.nodered_90e90b1bf1d27e84"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":310,"y":1260,"wires":[["67f4c8586385126a"]]},{"id":"0c5c682459bcc99e","type":"server-state-changed","z":"11d2320978cf1f7f","name":"tv automation","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"switch.nodered_90e90b1bf1d27e84","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":70,"y":680,"wires":[["caca6f4073a5fb91"],["cee83fd9e8833393"]]},{"id":"caca6f4073a5fb91","type":"api-call-service","z":"11d2320978cf1f7f","name":"Backlight On","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.tv_backlight_3_lite"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":250,"y":660,"wires":[[]]},{"id":"cee83fd9e8833393","type":"api-call-service","z":"11d2320978cf1f7f","name":"Backlight Off","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.tv_backlight_3_lite"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":250,"y":700,"wires":[[]]},{"id":"24897ffe433b8464","type":"ha-webhook","z":"11d2320978cf1f7f","name":"TV Backlight Toggle","server":"bc7a1b44.b9c7b8","version":3,"exposeAsEntityConfig":"","outputs":1,"webhookId":"tv-backlight-toggle","method_get":false,"method_head":false,"method_post":true,"method_put":true,"outputProperties":[{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"payloadLocation":false,"payloadLocationType":false,"headersLocation":false,"headersLocationType":false,"x":90,"y":1320,"wires":[["8994a39689a516df"]]},{"id":"676dcef1e2e5f17b","type":"api-call-service","z":"11d2320978cf1f7f","name":"Music Mode","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.govee_to_mqtt_one_click_default_music"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":1340,"wires":[["691b07d9ed692cd7"]]},{"id":"8994a39689a516df","type":"switch","z":"11d2320978cf1f7f","name":"","property":"isMusicMode","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":1320,"wires":[["9a3334ead80a23ec"],["676dcef1e2e5f17b"]]},{"id":"9a3334ead80a23ec","type":"api-call-service","z":"11d2320978cf1f7f","name":"Default","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.govee_to_mqtt_one_click_default_default"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":1300,"wires":[["9b4abfb1b70ce61c"]]},{"id":"691b07d9ed692cd7","type":"change","z":"11d2320978cf1f7f","name":"","rules":[{"t":"set","p":"isMusicMode","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1340,"wires":[["ffab03685b7f61a5"]]},{"id":"9b4abfb1b70ce61c","type":"change","z":"11d2320978cf1f7f","name":"","rules":[{"t":"set","p":"isMusicMode","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1300,"wires":[["d48dc68679391a4e"]]},{"id":"4989103543c49da4","type":"change","z":"11d2320978cf1f7f","name":"","rules":[{"t":"set","p":"isMusicMode","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":20,"wires":[[]]},{"id":"2114b974cd37d19c","type":"api-call-service","z":"11d2320978cf1f7f","name":"Default","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.govee_to_mqtt_one_click_default_default"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":140,"wires":[[]]},{"id":"86a11422013096bb","type":"ha-wait-until","z":"11d2320978cf1f7f","name":"","server":"bc7a1b44.b9c7b8","version":2,"outputs":1,"entityId":"light.tv_backlight_3_lite","entityIdFilterType":"exact","property":"state","comparator":"is","value":"on","valueType":"str","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"entityLocation":"data","entityLocationType":"none","x":420,"y":140,"wires":[["2114b974cd37d19c"]]},{"id":"5ee1904e85edae83","type":"switch","z":"11d2320978cf1f7f","name":"Spotify","property":"data.attributes.app_name","propertyType":"msg","rules":[{"t":"eq","v":"Spotify","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":300,"wires":[["250dd28bfef189c4"]]},{"id":"250dd28bfef189c4","type":"api-call-service","z":"11d2320978cf1f7f","name":"Music Mode","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.govee_to_mqtt_one_click_default_music"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":300,"wires":[["aaa668b6b3775051"]]},{"id":"631e3bd6cdec3db7","type":"api-current-state","z":"11d2320978cf1f7f","name":"tv state","server":"bc7a1b44.b9c7b8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.tcl65c755","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":400,"y":300,"wires":[["5ee1904e85edae83"]]},{"id":"013f4254675707cd","type":"api-call-service","z":"11d2320978cf1f7f","name":"Default","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.govee_to_mqtt_one_click_default_default"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":300,"y":460,"wires":[[]]},{"id":"eb1a236796e727c2","type":"api-call-service","z":"11d2320978cf1f7f","name":"Default","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.govee_to_mqtt_one_click_default_default"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":620,"wires":[[]]},{"id":"804b872d2ececfd8","type":"api-current-state","z":"11d2320978cf1f7f","name":"Is Off","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.pantry_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1350,"y":120,"wires":[["2c576fdfaac6ca3c"],["98cbb99ec56f90b1"]]},{"id":"2c576fdfaac6ca3c","type":"api-call-service","z":"11d2320978cf1f7f","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.pantry_motion_sensor"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1580,"y":100,"wires":[[]]},{"id":"98cbb99ec56f90b1","type":"api-call-service","z":"11d2320978cf1f7f","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.pantry_motion_sensor"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1580,"y":140,"wires":[[]]},{"id":"aaa668b6b3775051","type":"api-call-service","z":"11d2320978cf1f7f","name":"notify","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"script","service":"send_tv_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Notification\",\"message\":\"Music Mode\",\"duration\":5}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":300,"wires":[[]]},{"id":"d48dc68679391a4e","type":"api-call-service","z":"11d2320978cf1f7f","name":"notify","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"script","service":"send_tv_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Notification\",\"message\":\"Movie Mode\",\"duration\":5}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":890,"y":1300,"wires":[[]]},{"id":"ffab03685b7f61a5","type":"api-call-service","z":"11d2320978cf1f7f","name":"notify","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"script","service":"send_tv_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Notification\",\"message\":\"Music Mode\",\"duration\":5}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":890,"y":1340,"wires":[[]]},{"id":"67f4c8586385126a","type":"api-current-state","z":"11d2320978cf1f7f","name":"TV automation on","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"switch.nodered_90e90b1bf1d27e84","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":1260,"wires":[["7a5309d0b578da8d"],["813736876b310273"]]},{"id":"7a5309d0b578da8d","type":"api-call-service","z":"11d2320978cf1f7f","name":"notify","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"script","service":"send_tv_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Notification\",\"message\":\"TV Automation on\",\"duration\":5}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":1220,"wires":[[]]},{"id":"813736876b310273","type":"api-call-service","z":"11d2320978cf1f7f","name":"notify","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"script","service":"send_tv_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Notification\",\"message\":\"TV Automation off\",\"duration\":5}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":1260,"wires":[[]]},{"id":"61eb471011ca8b6b","type":"api-call-service","z":"11d2320978cf1f7f","name":"notify","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"script","service":"send_tv_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Notification\",\"message\":\"Turning off PC\",\"duration\":5}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":850,"y":1120,"wires":[[]]},{"id":"254f21be229e9ad1","type":"api-call-service","z":"11d2320978cf1f7f","name":"notify","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"script","service":"send_tv_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Notification\",\"message\":\"Turning on PC\",\"duration\":5}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":1060,"wires":[[]]},{"id":"f057a48e5c012fe9","type":"ha-wait-until","z":"11d2320978cf1f7f","name":"","server":"bc7a1b44.b9c7b8","version":2,"outputs":1,"entityId":"button.daniel_pc_hass_agent_daniel_pc_setdisplayexternal","entityIdFilterType":"exact","property":"state","comparator":"is_not","value":"unavailable","valueType":"str","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"entityLocation":"data","entityLocationType":"none","x":600,"y":1060,"wires":[["4d1c19d33536f36e"]]},{"id":"5740f6d87488c7c5","type":"api-call-service","z":"11d2320978cf1f7f","name":"Set Display External","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"button","service":"press","areaId":[],"deviceId":[],"entityId":["button.daniel_pc_hass_agent_daniel_pc_setdisplayexternal"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":1060,"wires":[[]]},{"id":"8c71d8ab221d9ca5","type":"api-call-service","z":"11d2320978cf1f7f","name":"Set Display Internal","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"button","service":"press","areaId":[],"deviceId":[],"entityId":["button.daniel_pc_hass_agent_daniel_pc_setdisplayinternal"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":250,"y":1120,"wires":[["2260f720607e51ee"]]},{"id":"4d1c19d33536f36e","type":"delay","z":"11d2320978cf1f7f","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":780,"y":1060,"wires":[["5740f6d87488c7c5"]]},{"id":"2260f720607e51ee","type":"delay","z":"11d2320978cf1f7f","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":450,"y":1120,"wires":[["4a45f5a68e387185"]]},{"id":"20ac212b78aef576","type":"change","z":"11d2320978cf1f7f","name":"","rules":[{"t":"set","p":"currentLight","pt":"flow","to":"pc","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":1020,"wires":[[]]},{"id":"45e05d8aed9296f8","type":"ha-webhook","z":"11d2320978cf1f7f","name":"Kitchen Lights Toggle","server":"bc7a1b44.b9c7b8","version":3,"exposeAsEntityConfig":"","outputs":1,"webhookId":"kitchen-lights-toggle","method_get":false,"method_head":false,"method_post":true,"method_put":true,"outputProperties":[{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"payloadLocation":false,"payloadLocationType":false,"headersLocation":false,"headersLocationType":false,"x":920,"y":260,"wires":[["ac4f69f38388cfc0"]]},{"id":"ac4f69f38388cfc0","type":"api-call-service","z":"11d2320978cf1f7f","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":[],"entityId":["light.rgb_light_strip"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1130,"y":260,"wires":[["80efd44158452554"]]},{"id":"ae88dc894fed0cec","type":"ha-webhook","z":"11d2320978cf1f7f","name":"Fan Toggle","server":"bc7a1b44.b9c7b8","version":3,"exposeAsEntityConfig":"","outputs":1,"webhookId":"fan-toggle","method_get":false,"method_head":false,"method_post":true,"method_put":true,"outputProperties":[{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"payloadLocation":false,"payloadLocationType":false,"headersLocation":false,"headersLocationType":false,"x":880,"y":340,"wires":[["8adb688e0799b1bd"]]},{"id":"8adb688e0799b1bd","type":"api-call-service","z":"11d2320978cf1f7f","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"toggle","areaId":[],"deviceId":[],"entityId":["switch.smart_switch_b38e"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1130,"y":340,"wires":[[]]},{"id":"80efd44158452554","type":"api-current-state","z":"11d2320978cf1f7f","name":"Is Off","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.rgb_light_strip","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1350,"y":260,"wires":[["9f31e4ed17481702"],["8e78f5c4f7a16d25"]]},{"id":"9f31e4ed17481702","type":"api-call-service","z":"11d2320978cf1f7f","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.kitchen_motion_sensor"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1580,"y":260,"wires":[[]]},{"id":"8e78f5c4f7a16d25","type":"api-call-service","z":"11d2320978cf1f7f","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.kitchen_motion_sensor"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1580,"y":300,"wires":[[]]},{"id":"e4bd9540c0632222","type":"api-current-state","z":"11d2320978cf1f7f","name":"Is Off","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.bed_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1350,"y":200,"wires":[["1d0b3e05befe0a08"],["8f44847017ed8458"]]},{"id":"1d0b3e05befe0a08","type":"api-call-service","z":"11d2320978cf1f7f","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.bedroom_motion_sensor_2"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1580,"y":180,"wires":[[]]},{"id":"8f44847017ed8458","type":"api-call-service","z":"11d2320978cf1f7f","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.bedroom_motion_sensor_2"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1580,"y":220,"wires":[[]]},{"id":"c06d071b4988124b","type":"subflow:34febce23a13a380","z":"11d2320978cf1f7f","name":"","x":300,"y":400,"wires":[]},{"id":"1df9ae428e7768b7","type":"server-state-changed","z":"11d2320978cf1f7f","name":"TV paused 2secs","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"90e90b1bf1d27e84","entityId":"media_player.tcl65c755","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"paused","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"2","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":480,"wires":[["c06d071b4988124b","013f4254675707cd"],[]]},{"id":"d6a532cbd65e174e","type":"trigger-state","z":"11d2320978cf1f7f","name":"TV paused","server":"bc7a1b44.b9c7b8","version":4,"inputs":0,"outputs":2,"exposeAsEntityConfig":"90e90b1bf1d27e84","entityId":"media_player.tcl65c755","entityIdType":"exact","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"playing"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"paused"}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":false,"x":80,"y":420,"wires":[[],[]]},{"id":"3702049b36a837fe","type":"server-state-changed","z":"f8d8ebf62a7b427b","name":"Door Closed","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.front_door_door","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":70,"y":620,"wires":[["0409dc82b3189208"],[]]},{"id":"3936bef54e5b8de9","type":"api-call-service","z":"f8d8ebf62a7b427b","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"lock","service":"lock","areaId":[],"deviceId":[],"entityId":["lock.front_door"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":620,"wires":[["0fa06fc19c531f31"]]},{"id":"bfac4ebf112fd242","type":"server-events","z":"f8d8ebf62a7b427b","name":"","server":"bc7a1b44.b9c7b8","version":3,"exposeAsEntityConfig":"","eventType":"tag_scanned","eventData":"","waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":110,"y":740,"wires":[["ad4acf38dc6a0df2","e409afe4348af51a"]]},{"id":"ad4acf38dc6a0df2","type":"switch","z":"f8d8ebf62a7b427b","name":"Door Tag Outside","property":"payload.event.tag_id","propertyType":"msg","rules":[{"t":"eq","v":"89a6ad29-f22b-4aec-a7b0-0a8cef95c16b","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":720,"wires":[["ed28a77ae5bdfb98","f037524b985a5a0f"]]},{"id":"ed28a77ae5bdfb98","type":"switch","z":"f8d8ebf62a7b427b","name":"User Check","property":"payload.context.user_id","propertyType":"msg","rules":[{"t":"eq","v":"7512fc7c361e45879df43f9f0f34fc57","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":700,"wires":[["361b4edc34347b41"]]},{"id":"f037524b985a5a0f","type":"switch","z":"f8d8ebf62a7b427b","name":"User Check","property":"payload.context.user_id","propertyType":"msg","rules":[{"t":"eq","v":"34698ed727444db8a6d2a382da917f5f","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":780,"wires":[["361b4edc34347b41"]]},{"id":"e409afe4348af51a","type":"switch","z":"f8d8ebf62a7b427b","name":"Door Tag Inside","property":"payload.event.tag_id","propertyType":"msg","rules":[{"t":"eq","v":"0aa9e8b4-4b8b-427e-b90e-7f5ac17a15f3","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":760,"wires":[["ed28a77ae5bdfb98","f037524b985a5a0f"]]},{"id":"44bc7d90267e4278","type":"change","z":"f8d8ebf62a7b427b","name":"","rules":[{"t":"set","p":"autoClose","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":700,"wires":[[]]},{"id":"0409dc82b3189208","type":"switch","z":"f8d8ebf62a7b427b","name":"autoClosed?","property":"autoClose","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":620,"wires":[["17cfe99b5260450b"]]},{"id":"f1fea680d4bf7ffc","type":"api-current-state","z":"f8d8ebf62a7b427b","name":"isLocked","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"locked","halt_if_type":"str","halt_if_compare":"is","entity_id":"lock.front_door","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1020,"y":740,"wires":[["afa0fa7546edb96d"],["3ab4eccf664227f4"]]},{"id":"264e0bd3a3c348fe","type":"api-call-service","z":"f8d8ebf62a7b427b","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"lock","service":"unlock","areaId":[],"deviceId":[],"entityId":["lock.front_door"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":510,"y":880,"wires":[["212464fab6a264bb"]]},{"id":"212464fab6a264bb","type":"change","z":"f8d8ebf62a7b427b","name":"","rules":[{"t":"set","p":"autoClose","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":880,"wires":[["66581c9a22aa692a"]]},{"id":"da4eda42c6652cff","type":"server-state-changed","z":"f8d8ebf62a7b427b","name":"Door unlocked for 5 minutes","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"lock.front_door","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"unlocked","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"5","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":100,"wires":[["7e9bbb6d65e72d58"],[]]},{"id":"afa0fa7546edb96d","type":"api-call-service","z":"f8d8ebf62a7b427b","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"lock","service":"unlock","areaId":[],"deviceId":[],"entityId":["lock.front_door"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1190,"y":720,"wires":[["44bc7d90267e4278"]]},{"id":"9fa8f2490f418bd7","type":"api-call-service","z":"f8d8ebf62a7b427b","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"lock","service":"lock","areaId":[],"deviceId":[],"entityId":["lock.front_door"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1360,"y":760,"wires":[[]]},{"id":"36c56406b3652bb0","type":"server-state-changed","z":"f8d8ebf62a7b427b","name":"On Wifi Connect (Poco F4 GT)","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.wifi_tracker_poco_f4","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":840,"wires":[["ec4a996acc41148a"],[]]},{"id":"a6633c7f9c90a021","type":"server-state-changed","z":"f8d8ebf62a7b427b","name":"Door unlocked 1 hr","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"lock.front_door","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"unlocked","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"60","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":95,"y":20,"wires":[["604786da027e3191"],[]]},{"id":"fcf961336c7d0a3b","type":"api-call-service","z":"f8d8ebf62a7b427b","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"lock","service":"lock","areaId":[],"deviceId":[],"entityId":["lock.front_door"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":20,"wires":[[]]},{"id":"66581c9a22aa692a","type":"delay","z":"f8d8ebf62a7b427b","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":920,"y":880,"wires":[["7c10d525cf430a45"]]},{"id":"7c10d525cf430a45","type":"api-current-state","z":"f8d8ebf62a7b427b","name":"Door Closed","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.front_door_door","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1090,"y":880,"wires":[["375c142b40a8622f"],[]]},{"id":"db47576e9413bd8c","type":"api-call-service","z":"f8d8ebf62a7b427b","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"lock","service":"lock","areaId":[],"deviceId":[],"entityId":["lock.front_door"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1580,"y":880,"wires":[["0247a4f932f394a5"]]},{"id":"0247a4f932f394a5","type":"change","z":"f8d8ebf62a7b427b","name":"","rules":[{"t":"set","p":"autoClose","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1770,"y":880,"wires":[[]]},{"id":"4cc7df60401c25f2","type":"change","z":"f8d8ebf62a7b427b","name":"","rules":[{"t":"set","p":"autoClose","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":380,"wires":[[]]},{"id":"604786da027e3191","type":"api-current-state","z":"f8d8ebf62a7b427b","name":"Door closed","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.front_door_door","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":290,"y":20,"wires":[["da3e0585fb022ecf"],[]]},{"id":"aba49ce8711be116","type":"api-call-service","z":"f8d8ebf62a7b427b","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"script","service":"send_tv_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Notification\",\"message\":\"Door is unlocked\",\"duration\":5}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":650,"y":120,"wires":[[]]},{"id":"257bbab4412cadf1","type":"api-call-service","z":"f8d8ebf62a7b427b","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"script","service":"send_tv_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Notification\",\"message\":\"Door is Locked\",\"duration\":5}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":470,"y":320,"wires":[[]]},{"id":"853d4215a1781fea","type":"api-call-service","z":"f8d8ebf62a7b427b","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_poco_f4_gt","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Door unlocked\",\"data\":{\"tag\":\"lock\",\"actions\":[{\"action\":\"LOCK_DOOR\",\"title\":\"Lock Door\"}]}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":200,"wires":[[]]},{"id":"8a01238534f52033","type":"api-call-service","z":"f8d8ebf62a7b427b","name":"Clear Notification","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_poco_f4_gt","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"clear_notification\",\"data\":{\"tag\":\"lock\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":260,"wires":[[]]},{"id":"0fa06fc19c531f31","type":"change","z":"f8d8ebf62a7b427b","name":"","rules":[{"t":"set","p":"autoClose","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":620,"wires":[[]]},{"id":"da3e0585fb022ecf","type":"api-call-service","z":"f8d8ebf62a7b427b","name":"update","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"homeassistant","service":"update_entity","areaId":[],"deviceId":[],"entityId":["lock.front_door"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":20,"wires":[["fcf961336c7d0a3b"]]},{"id":"17cfe99b5260450b","type":"api-call-service","z":"f8d8ebf62a7b427b","name":"update","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"homeassistant","service":"update_entity","areaId":[],"deviceId":[],"entityId":["lock.front_door"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":430,"y":620,"wires":[["3936bef54e5b8de9"]]},{"id":"361b4edc34347b41","type":"api-call-service","z":"f8d8ebf62a7b427b","name":"update","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"homeassistant","service":"update_entity","areaId":[],"deviceId":[],"entityId":["lock.front_door"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":850,"y":740,"wires":[["f1fea680d4bf7ffc"]]},{"id":"375c142b40a8622f","type":"api-call-service","z":"f8d8ebf62a7b427b","name":"update","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"homeassistant","service":"update_entity","areaId":[],"deviceId":[],"entityId":["lock.front_door"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1250,"y":880,"wires":[["1fb8af705e3e8ef4"]]},{"id":"ec4a996acc41148a","type":"api-call-service","z":"f8d8ebf62a7b427b","name":"update","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"homeassistant","service":"update_entity","areaId":[],"deviceId":[],"entityId":["lock.front_door"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":370,"y":880,"wires":[["264e0bd3a3c348fe"]]},{"id":"915f8fa20bb45523","type":"switch","z":"f8d8ebf62a7b427b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"locked","vt":"str"},{"t":"eq","v":"unlocked","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":1040,"wires":[["65a58d9ab2a6f641"],["f41fe48cdb857fad"]]},{"id":"305640f3264d9b95","type":"api-current-state","z":"f8d8ebf62a7b427b","name":"Lock","server":"bc7a1b44.b9c7b8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"lock.front_door","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":350,"y":1040,"wires":[["915f8fa20bb45523"]]},{"id":"65a58d9ab2a6f641","type":"api-call-service","z":"f8d8ebf62a7b427b","name":"Unlock","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"lock","service":"unlock","areaId":[],"deviceId":[],"entityId":["lock.front_door"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":1020,"wires":[["bf61abf2ee4eec2d"]]},{"id":"f41fe48cdb857fad","type":"api-call-service","z":"f8d8ebf62a7b427b","name":"Lock","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"lock","service":"lock","areaId":[],"deviceId":[],"entityId":["lock.front_door"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":1060,"wires":[["5ace18bd228fbea2"]]},{"id":"e37b1471316e12f3","type":"ha-webhook","z":"f8d8ebf62a7b427b","name":"Lock Toggle","server":"bc7a1b44.b9c7b8","version":3,"exposeAsEntityConfig":"","outputs":1,"webhookId":"lock-toggle","method_get":false,"method_head":false,"method_post":true,"method_put":true,"outputProperties":[{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"payloadLocation":false,"payloadLocationType":false,"headersLocation":false,"headersLocationType":false,"x":90,"y":1040,"wires":[["a23f52f4789bc6af"]]},{"id":"a23f52f4789bc6af","type":"api-call-service","z":"f8d8ebf62a7b427b","name":"update","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"homeassistant","service":"update_entity","areaId":[],"deviceId":[],"entityId":["lock.front_door"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":230,"y":1040,"wires":[["305640f3264d9b95"]]},{"id":"aef810b7c272156f","type":"ha-button","z":"f8d8ebf62a7b427b","name":"Lock","version":0,"debugenabled":false,"outputs":1,"entityConfig":"e44494a60e30483b","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":70,"y":1100,"wires":[["a23f52f4789bc6af"]]},{"id":"bf61abf2ee4eec2d","type":"change","z":"f8d8ebf62a7b427b","name":"","rules":[{"t":"set","p":"autoClose","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":1000,"wires":[[]]},{"id":"5ace18bd228fbea2","type":"change","z":"f8d8ebf62a7b427b","name":"","rules":[{"t":"set","p":"autoClose","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":1080,"wires":[[]]},{"id":"7e9bbb6d65e72d58","type":"api-current-state","z":"f8d8ebf62a7b427b","name":"isLocked","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"locked","halt_if_type":"str","halt_if_compare":"is","entity_id":"lock.front_door","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":340,"y":100,"wires":[[],["aba49ce8711be116","853d4215a1781fea"]]},{"id":"c503cb3e4b38ae41","type":"trigger-state","z":"f8d8ebf62a7b427b","name":"Door Locked","server":"bc7a1b44.b9c7b8","version":4,"inputs":0,"outputs":2,"exposeAsEntityConfig":"","entityId":"lock.front_door","entityIdType":"exact","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"locking"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"locked"}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":false,"x":70,"y":300,"wires":[["257bbab4412cadf1","8a01238534f52033","4cc7df60401c25f2"],[]]},{"id":"5cda623dfc0b42ce","type":"trigger-state","z":"f8d8ebf62a7b427b","name":"Door Unlocked","server":"bc7a1b44.b9c7b8","version":4,"inputs":0,"outputs":2,"exposeAsEntityConfig":"","entityId":"lock.front_door","entityIdType":"exact","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"unlocking"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"unlocked"}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":false,"x":80,"y":240,"wires":[["853d4215a1781fea"],[]]},{"id":"1fb8af705e3e8ef4","type":"api-current-state","z":"f8d8ebf62a7b427b","name":"unlocked?","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"unlocked","halt_if_type":"str","halt_if_compare":"is","entity_id":"lock.front_door","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1400,"y":880,"wires":[["db47576e9413bd8c"],[]]},{"id":"37f2847b5f193506","type":"server-events","z":"f8d8ebf62a7b427b","name":"Lock Door Notification Action","server":"bc7a1b44.b9c7b8","version":3,"exposeAsEntityConfig":"","eventType":"mobile_app_notification_action","eventData":"","waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":800,"y":240,"wires":[["896ae3124fe04d7b"]]},{"id":"896ae3124fe04d7b","type":"switch","z":"f8d8ebf62a7b427b","name":"","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"LOCK_DOOR","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1030,"y":260,"wires":[["7c10d525cf430a45"]]},{"id":"f3ac7a7a9229d0a5","type":"server-state-changed","z":"f8d8ebf62a7b427b","name":"Door Closed and unlocked","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.front_door_door","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"5","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":160,"wires":[["7e9bbb6d65e72d58"],[]]},{"id":"3ab4eccf664227f4","type":"api-current-state","z":"f8d8ebf62a7b427b","name":"Door Closed","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.front_door_door","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1190,"y":760,"wires":[["9fa8f2490f418bd7"],[]]},{"id":"f91f9fe3d351f3b3","type":"trigger-state","z":"f8d8ebf62a7b427b","name":"Door Manual Locked","server":"bc7a1b44.b9c7b8","version":4,"inputs":0,"outputs":2,"exposeAsEntityConfig":"","entityId":"lock.front_door","entityIdType":"exact","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"unlocked"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"locked"}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":false,"x":90,"y":440,"wires":[["8a01238534f52033"],[]]},{"id":"264b9533d33d1f89","type":"server-state-changed","z":"f8d8ebf62a7b427b","name":"Lock Low Battery","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"sensor.front_door_battery","entityIdType":"exact","outputInitially":false,"stateType":"num","ifState":"20","ifStateType":"num","ifStateOperator":"lte","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":520,"wires":[["5eb4ead983aa9c03"],[]]},{"id":"5eb4ead983aa9c03","type":"api-call-service","z":"f8d8ebf62a7b427b","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_poco_f4_gt","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Lock Battery is Low\",\"data\":{\"tag\":\"lock\",\"actions\":[{\"action\":\"LOCK_DOOR\",\"title\":\"Lock Door\"}]}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":410,"y":500,"wires":[[]]},{"id":"669c730e91dc3e79","type":"server-state-changed","z":"f8d8ebf62a7b427b","name":"On Wifi Connect (Iphone 11)","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.wifi_tracker_iphone_11","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":920,"wires":[[],[]]},{"id":"f221e721461b7084","type":"server-state-changed","z":"8140a76a50b7c6cf","name":"Pantry Motion Sensor Clear 5sec","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"7d1b946bea64161b","entityId":"binary_sensor.ld2410_esp32_4_presence","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"5","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":100,"wires":[["de88630dd5d5c27f"],[]]},{"id":"824b1120a4d6bad1","type":"server-state-changed","z":"8140a76a50b7c6cf","name":"Pantry Motion Sensors Enabled","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"7d1b946bea64161b","entityId":"switch.pantry_motion_sensor","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":false,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":20,"wires":[["273ea153a545801b"],[]]},{"id":"273ea153a545801b","type":"api-current-state","z":"8140a76a50b7c6cf","name":"Pantry Clear","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.ld2410_esp32_4_presence","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"seconds","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":410,"y":20,"wires":[["de88630dd5d5c27f"],["638f308968695bf4"]]},{"id":"2075a151b12c9d5d","type":"server-state-changed","z":"8140a76a50b7c6cf","name":"Pantry Lights","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"light.pantry_lights","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"}],"x":70,"y":460,"wires":[["4d5a3aac0ae45977"],["9d5f40a229b70999"]]},{"id":"4d5a3aac0ae45977","type":"switch","z":"8140a76a50b7c6cf","name":"","property":"data.new_state.context.user_id","propertyType":"msg","rules":[{"t":"null"},{"t":"eq","v":"f389ce79e38841e4bfd26c9685ffa784","vt":"str"},{"t":"eq","v":"7512fc7c361e45879df43f9f0f34fc57","vt":"str"},{"t":"eq","v":"b02831abf0e44536ad8fc552aede48c4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":390,"y":460,"wires":[[],[],["77d0ab8755eba7a1"],["77d0ab8755eba7a1"]]},{"id":"77d0ab8755eba7a1","type":"api-call-service","z":"8140a76a50b7c6cf","name":"Pantry Sensor Off","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.pantry_motion_sensor"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":630,"y":440,"wires":[[]]},{"id":"d31316ff2691868b","type":"server-state-changed","z":"8140a76a50b7c6cf","name":"Pantry Motion Sensor Occupied","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"7d1b946bea64161b","entityId":"binary_sensor.ld2410_esp32_4_presence","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":false,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":60,"wires":[["638f308968695bf4"],[]]},{"id":"d652687d2711dfb5","type":"server-state-changed","z":"8140a76a50b7c6cf","name":"Pantry Plug","server":"bc7a1b44.b9c7b8","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"switch.bedroom_tapo_smart_plug","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":70,"y":220,"wires":[["912138fd0fb8d826"]]},{"id":"638f308968695bf4","type":"subflow:cbfcd9424a1ed08d","z":"8140a76a50b7c6cf","name":"Pantry Lights on","x":960,"y":200,"wires":[]},{"id":"de88630dd5d5c27f","type":"api-call-service","z":"8140a76a50b7c6cf","name":"Both Lights off","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":["7d43bab9d6a5a735b410270639a82b7f","44bfdcf6fb5dd6cae2a42f041bd738f1"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":900,"y":40,"wires":[[]]},{"id":"9676b738703d90c5","type":"api-call-service","z":"8140a76a50b7c6cf","name":"ESP Turn off","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.ld2410_esp32_4_blue_status_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":390,"y":140,"wires":[[]]},{"id":"912138fd0fb8d826","type":"subflow:3a687d9bc820e4b7","z":"8140a76a50b7c6cf","name":"","x":390,"y":220,"wires":[["5eee84a5c65ed0e4"]]},{"id":"84e5e92b34a78de8","type":"server-state-changed","z":"8140a76a50b7c6cf","name":"RGB","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"light.controller_rgb_df1c0d","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":50,"y":540,"wires":[["4d5a3aac0ae45977"],["9d5f40a229b70999"]]},{"id":"9d5f40a229b70999","type":"switch","z":"8140a76a50b7c6cf","name":"","property":"data.new_state.context.user_id","propertyType":"msg","rules":[{"t":"null"},{"t":"eq","v":"f389ce79e38841e4bfd26c9685ffa784","vt":"str"},{"t":"eq","v":"7512fc7c361e45879df43f9f0f34fc57","vt":"str"},{"t":"eq","v":"b02831abf0e44536ad8fc552aede48c4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":390,"y":540,"wires":[[],[],["c9f089ee80137e40"],["c9f089ee80137e40"]]},{"id":"c9f089ee80137e40","type":"api-call-service","z":"8140a76a50b7c6cf","name":"Pantry Sensor On","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.pantry_motion_sensor"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":540,"wires":[[]]},{"id":"9ca6918185a5668d","type":"subflow:2053e7b6258787f3","z":"8140a76a50b7c6cf","name":"","x":380,"y":300,"wires":[["de88630dd5d5c27f"],[]]},{"id":"775799d95c9a7115","type":"server-state-changed","z":"8140a76a50b7c6cf","name":"Pantry Motion Sensor Clear","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"7d1b946bea64161b","entityId":"binary_sensor.ld2410_esp32_4_presence","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"limit","propertyType":"msg","value":"10","valueType":"num"}],"x":120,"y":300,"wires":[["9ca6918185a5668d"],[]]},{"id":"c2b9b16969aa3b82","type":"server-state-changed","z":"8140a76a50b7c6cf","name":"Pantry Motion Sensor Clear 0sec","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"7d1b946bea64161b","entityId":"binary_sensor.ld2410_esp32_4_presence","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":140,"wires":[["9676b738703d90c5"],[]]},{"id":"5eee84a5c65ed0e4","type":"api-current-state","z":"8140a76a50b7c6cf","name":"Pantry Occupied","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.ld2410_esp32_4_presence","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"seconds","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":710,"y":220,"wires":[["638f308968695bf4"],[]]},{"id":"f8ab99e0ecd597f3","type":"server-state-changed","z":"8140a76a50b7c6cf","name":"Pantry Lights On","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"light.pantry_lights_group","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"entity","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"sensor","propertyType":"msg","value":"switch.pantry_motion_sensor","valueType":"str"}],"x":80,"y":700,"wires":[["1b3a308bf8eb6095"],[]]},{"id":"bb5dde261752e006","type":"server-state-changed","z":"8140a76a50b7c6cf","name":"Pantry Lights On","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"light.pantry_lights","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"entity","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"sensor","propertyType":"msg","value":"switch.pantry_motion_sensor","valueType":"str"}],"x":80,"y":760,"wires":[["1b3a308bf8eb6095"],[]]},{"id":"5fc755cfa84c3222","type":"server-state-changed","z":"8140a76a50b7c6cf","name":"Pantry Lights On","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"light.controller_rgb_df1c0d","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"entity","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"sensor","propertyType":"msg","value":"switch.pantry_motion_sensor","valueType":"str"}],"x":80,"y":820,"wires":[["1b3a308bf8eb6095"],[]]},{"id":"1b3a308bf8eb6095","type":"subflow:a0dd34e402ff40a1","z":"8140a76a50b7c6cf","name":"","x":530,"y":760,"wires":[]},{"id":"734d1ec6499c231b","type":"server-state-changed","z":"8140a76a50b7c6cf","name":"Pantry Motion Sensor Clear 5min","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"binary_sensor.ld2410_esp32_4_presence","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"5","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":380,"wires":[["482fe1cb1606a007"],[]]},{"id":"482fe1cb1606a007","type":"api-call-service","z":"8140a76a50b7c6cf","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.pantry_motion_sensor"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":400,"y":380,"wires":[[]]},{"id":"8c42d7ea3ca1087c","type":"api-call-service","z":"f173a16dfdf0dd22","name":"Lights Off","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":["47a049670ec3e4d43794e0b6790f603b"],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":120,"wires":[["107f778008f61ead"]]},{"id":"95917b184895f843","type":"api-call-service","z":"f173a16dfdf0dd22","name":"Dim Lighs","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":["47a049670ec3e4d43794e0b6790f603b"],"entityId":[],"data":"{\"brightness_pct\":\"20\", \"color_name\": \"white\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":400,"y":60,"wires":[[]]},{"id":"8880bff27ec647ce","type":"server-state-changed","z":"f173a16dfdf0dd22","name":"Bathroom Motion Sensor 2 Clear 25sec","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"143ffa941006631c","entityId":"binary_sensor.ld2410_esp32_2_presence","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"25","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":120,"wires":[["14729117304b8532","95917b184895f843"],[]]},{"id":"14729117304b8532","type":"delay","z":"f173a16dfdf0dd22","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":640,"y":120,"wires":[["8c42d7ea3ca1087c"]]},{"id":"e748b3f566a2ae3c","type":"change","z":"f173a16dfdf0dd22","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":240,"wires":[["14729117304b8532"]]},{"id":"3e7839163f759e98","type":"api-call-service","z":"f173a16dfdf0dd22","name":"Lights On","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":["47a049670ec3e4d43794e0b6790f603b","4fc5618c678a2550e271c4892bd7d3ff"],"entityId":[],"data":"{\"brightness_pct\":\"100\", \"color_name\": \"white\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":400,"y":160,"wires":[[]]},{"id":"05c930d5bf040d33","type":"server-state-changed","z":"f173a16dfdf0dd22","name":"Bathroom Motion Sensor 2 Occupied","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"143ffa941006631c","entityId":"binary_sensor.ld2410_esp32_2_presence","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":220,"wires":[["3e7839163f759e98","e748b3f566a2ae3c"],[]]},{"id":"a2d8dfbb490bbd52","type":"server-state-changed","z":"f173a16dfdf0dd22","name":"Bathroom Motion Sensor 2 Clear 0sec","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"143ffa941006631c","entityId":"binary_sensor.ld2410_esp32_2_presence","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"off","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"limit","propertyType":"msg","value":"25","valueType":"num"}],"x":150,"y":360,"wires":[["322ed5f0790d14ea"],[]]},{"id":"322ed5f0790d14ea","type":"api-call-service","z":"f173a16dfdf0dd22","name":"esp off","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":["4fc5618c678a2550e271c4892bd7d3ff"],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":410,"y":360,"wires":[[]]},{"id":"805cf4c9dda47769","type":"server-state-changed","z":"f173a16dfdf0dd22","name":"Pantry Motion Sensor Occupied","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"7d1b946bea64161b","entityId":"binary_sensor.ld2410_esp32_4_presence","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":460,"wires":[["666ab742d440ab58"],[]]},{"id":"666ab742d440ab58","type":"api-call-service","z":"f173a16dfdf0dd22","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.bathroom_motion_sensor"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":460,"wires":[[]]},{"id":"5b2eaab7d4967909","type":"api-call-service","z":"f173a16dfdf0dd22","name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.bathroom_motion_sensor"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1260,"y":120,"wires":[[]]},{"id":"107f778008f61ead","type":"delay","z":"f173a16dfdf0dd22","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1060,"y":120,"wires":[["5b2eaab7d4967909"]]},{"id":"f883186d7673bd2f","type":"server-state-changed","z":"f173a16dfdf0dd22","name":"","server":"bc7a1b44.b9c7b8","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"switch.bathroom_motion_sensor","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":600,"wires":[["8fae2aa8d9764789"],[]]},{"id":"8fae2aa8d9764789","type":"api-current-state","z":"f173a16dfdf0dd22","name":"","server":"bc7a1b44.b9c7b8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.ld2410_esp32_2_presence","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":720,"wires":[["3e7839163f759e98"],[]]},{"id":"7f1dd3d327c72721","type":"server-events","z":"6cad9bd86f080d35","name":"Key Down","server":"bc7a1b44.b9c7b8","version":3,"exposeAsEntityConfig":"","eventType":"keyboard_remote_command_received","eventData":"","waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":80,"y":140,"wires":[["dac16bae0d775d70","741f949ac2c697fa"]]},{"id":"dac16bae0d775d70","type":"switch","z":"6cad9bd86f080d35","name":"Numbers","property":"payload.event.key_code","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"7","vt":"num"},{"t":"eq","v":"8","vt":"num"},{"t":"eq","v":"9","vt":"num"},{"t":"eq","v":"10","vt":"num"},{"t":"eq","v":"11","vt":"num"}],"checkall":"true","repair":false,"outputs":10,"x":160,"y":440,"wires":[["2c0c1570878de23b"],["c3938df184548a61"],["7b79a9cb176fc3aa"],["092ba0d740d89462"],["09b3e9f875f2abac"],["56349adab13eaac3"],["0d74a38766dc4123"],[],[],["5a1ff49a3405957d"]]},{"id":"092ba0d740d89462","type":"api-call-service","z":"6cad9bd86f080d35","name":"Sala Lights","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":[],"entityId":["light.sala_lights_group"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"device","propertyType":"flow","value":"light.sala_lights_group","valueType":"str"}],"queue":"none","x":430,"y":380,"wires":[[]]},{"id":"09b3e9f875f2abac","type":"api-call-service","z":"6cad9bd86f080d35","name":"Pantry Lights","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":[],"entityId":["light.pantry_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"device","propertyType":"flow","value":"light.pantry_lights","valueType":"str"}],"queue":"none","x":430,"y":420,"wires":[[]]},{"id":"2c0c1570878de23b","type":"api-call-service","z":"6cad9bd86f080d35","name":"Bed Lights","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":[],"entityId":["light.bed_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"device","propertyType":"flow","value":"light.bed_lights","valueType":"jsonata"}],"queue":"none","x":430,"y":260,"wires":[[]]},{"id":"56349adab13eaac3","type":"api-call-service","z":"6cad9bd86f080d35","name":"Bathroom Lights","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":[],"entityId":["light.bathroom_lights_2"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"device","propertyType":"flow","value":"light.bathroom_lights_2","valueType":"str"}],"queue":"none","x":440,"y":460,"wires":[[]]},{"id":"0d74a38766dc4123","type":"api-call-service","z":"6cad9bd86f080d35","name":"Sala Fans","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"toggle","areaId":[],"deviceId":[],"entityId":["group.sala_devices_fans"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"device","propertyType":"flow","value":"salafans","valueType":"str"}],"queue":"none","x":420,"y":500,"wires":[[]]},{"id":"c3938df184548a61","type":"api-call-service","z":"6cad9bd86f080d35","name":"Bed Fan","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"toggle","areaId":[],"deviceId":[],"entityId":["switch.smart_switch_955f"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"device","propertyType":"flow","value":"bedfan","valueType":"str"}],"queue":"none","x":420,"y":300,"wires":[[]]},{"id":"7b79a9cb176fc3aa","type":"api-call-service","z":"6cad9bd86f080d35","name":"AC Light","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"switch","service":"toggle","areaId":[],"deviceId":[],"entityId":["switch.9424b8953eb9_panel_light"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"device","propertyType":"flow","value":"ac","valueType":"str"}],"queue":"none","x":420,"y":340,"wires":[[]]},{"id":"741f949ac2c697fa","type":"switch","z":"6cad9bd86f080d35","d":true,"name":"Volume","property":"payload.event.key_code","propertyType":"msg","rules":[{"t":"eq","v":"114","vt":"num"},{"t":"eq","v":"115","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":120,"wires":[["6b36b3b91aafc013"],["7491b36997e28e6b"]]},{"id":"6b36b3b91aafc013","type":"function","z":"6cad9bd86f080d35","d":true,"name":"Increase","func":"// Get the current temperature\nvar device = flow.get('device');\nvar currentBrightness = global.get('homeassistant').homeAssistant.states[device].attributes[\"brightness_pct\"];\n\n// Set the new temperature\nvar newBrightness = currentBrightness + 10; // Example: Increment the temperature by 1 degree\n\n\nmsg.payload = {\n    \"domain\": \"light\",\n    \"service\": \"turn_on\",\n    \"target\": {\n        \"entity_id\": device\n    },\n    \"data\": {\n        \"brightness_pct\": newBrightness\n    }\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":60,"wires":[["ae26d378b6646a82"]]},{"id":"38e50e46e53aafeb","type":"debug","z":"6cad9bd86f080d35","d":true,"name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1020,"y":120,"wires":[]},{"id":"ae26d378b6646a82","type":"api-call-service","z":"6cad9bd86f080d35","d":true,"name":"","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"","service":"","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":100,"wires":[["38e50e46e53aafeb"]]},{"id":"7491b36997e28e6b","type":"function","z":"6cad9bd86f080d35","d":true,"name":"Decrease","func":"// Get the current temperature\nvar device = flow.get('device');\nvar currentBrightness = global.get('homeassistant').homeAssistant.states[device].attributes[\"brightness_pct\"];\n\n// Set the new temperature\nvar newBrightness = currentBrightness - 10; // Example: Increment the temperature by 1 degree\n\n\nmsg.payload = {\n    \"domain\": \"light\",\n    \"service\": \"turn_on\",\n    \"target\": {\n        \"entity_id\": device\n    },\n    \"data\": {\n        \"brightness_pct\": newBrightness\n    }\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":120,"wires":[["ae26d378b6646a82"]]},{"id":"c13af87b1fd199d3","type":"switch","z":"6cad9bd86f080d35","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"locked","vt":"str"},{"t":"eq","v":"unlocked","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":580,"wires":[["36d7a40d31f8ba33"],["6ab32df8e6afb1b2"]]},{"id":"49606cca058c9874","type":"api-current-state","z":"6cad9bd86f080d35","name":"Lock","server":"bc7a1b44.b9c7b8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"lock.front_door","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":550,"y":580,"wires":[["c13af87b1fd199d3"]]},{"id":"36d7a40d31f8ba33","type":"api-call-service","z":"6cad9bd86f080d35","name":"Unlock","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"lock","service":"unlock","areaId":[],"deviceId":[],"entityId":["lock.front_door"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":830,"y":560,"wires":[[]]},{"id":"6ab32df8e6afb1b2","type":"api-call-service","z":"6cad9bd86f080d35","name":"Lock","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"lock","service":"lock","areaId":[],"deviceId":[],"entityId":["lock.front_door"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":830,"y":600,"wires":[[]]},{"id":"5a1ff49a3405957d","type":"api-call-service","z":"6cad9bd86f080d35","name":"update","server":"bc7a1b44.b9c7b8","version":5,"debugenabled":false,"domain":"homeassistant","service":"update_entity","areaId":[],"deviceId":[],"entityId":["lock.front_door"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":410,"y":580,"wires":[["49606cca058c9874"]]}]